/*

Base Proto v 0.5

*/
html, body {
  height: 100%;
}

dt {
  margin-top: .5em;
  font-weight: bold;
}

dd {
  margin: 10px;
}

p {
  line-height: 1.2em;
}

section, aside[id], figure[id] {
  display: none;
}

section.active {
  display: block;
}

figure[class] {
  margin: 0;
}

aside[class] {
  z-index: 1001;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
aside[class] .proto-aside-cover {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.7);
  opacity: 0;
  transition: 0.3s;
}
aside[class] .proto-aside-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, 0);
  max-width: calc(100% - 40px);
  max-height: calc(100% - 40px);
  text-align: center;
  background-color: #eee;
  border-radius: .5em;
  box-shadow: 2px 2px 10px 1px rgba(0, 0, 0, 0.2);
  opacity: 0;
  transition: 0.3s;
  padding: 10px;
}
aside[class].proto-show .proto-aside-cover {
  opacity: 1;
}
aside[class].proto-show .proto-aside-content {
  transform: translate(-50%, -50%);
  opacity: 1;
}

.proto-info {
  z-index: 1002;
  display: none;
  position: absolute;
  background-color: white;
  padding: 10px;
  border-radius: .5em;
  border: 1px solid #666;
  top: 40px;
  right: 40px;
  width: 300px;
  height: 300px;
  padding: 10px;
  overflow: auto;
  box-shadow: 2px 2px 10px 1px rgba(0, 0, 0, 0.2);
}
.proto-info.active {
  display: block;
}

.proto-nav {
  /*overflow-x: auto;*/
  white-space: nowrap;
}

.mobile {
  position: relative;
  width: 375px;
  height: 667px;
  overflow: hidden;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}

.body {
  overflow: auto;
  position: relative;
  width: 100%;
  height: 100%;
  left: 0;
}
.body p {
  text-align: justify;
}
.nav-bar:first-child + .body {
  height: calc(100% - 40px);
}
.nav-bar + .nav-bar + .body {
  height: calc(100% - 80px);
}

.btn {
  display: inline-block;
  box-shadow: 0 0 0 transparent;
  height: 2em;
  font-size: inherit;
  background-color: #ddd;
  line-height: 2em;
  padding: 0 0.5em;
  margin: 0;
  color: black;
  border-radius: 4px;
  vertical-align: baseline;
}
.btn:hover, .btn:active {
  background-color: #efefef;
  color: black;
}

.compact, .nav ul, .proto-list, .proto-list-accordion {
  list-style-type: none;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

.proto-title {
  text-transform: uppercase;
  font-size: 1.2em;
  text-align: center;
  line-height: 40px;
}

.nav-title, .nav-btns {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.nav-bar {
  background-color: #ddd;
  height: 40px;
  line-height: 40px;
  width: 100%;
  color: #555;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.nav-bar-head {
  position: relative;
}
.nav-bar-foot {
  bottom: 0px;
  position: absolute;
  left: 0px;
}
.nav-bar p {
  padding-left: 0.5em;
  padding-right: 0.5em;
  line-height: 40px;
}
.nav-bar .btn {
  vertical-align: middle;
  height: 40px;
  background-color: transparent;
  line-height: 40px;
  padding: 0 13.3333333333px;
  margin: 0;
  color: #555;
  border-radius: 0;
}
.nav-bar .btn:hover, .nav-bar .btn:active {
  background-color: white;
  color: black;
}
.nav-bar .btn-icon, .nav-bar .btn-description {
  display: block;
  line-height: 1em;
}
.nav-bar .btn-icon {
  font-size: 26.6666666667px;
  margin-bottom: -0.10em;
  font-style: normal;
}
.nav-bar .btn-description {
  font-size: 0.6em;
}
.nav-btns {
  display: -webkit-flex;
  display: flex;
}
.nav-btns li {
  -webkit-flex: none;
  flex: none;
}
.nav-btns li:empty {
  -webkit-flex: 1 1 auto;
  flex: 1 1 auto;
}
.nav-flex li {
  -webkit-flex: 1 1 auto;
  flex: 1 1 auto;
}

.proto-flex {
  display: -webkit-flex;
  display: flex;
}
.proto-flex-title, .proto-flex-btn {
  padding: 0 0.5em;
}
.proto-flex-btn {
  -webkit-flex: none;
  flex: none;
}
.proto-flex-title {
  -webkit-flex: 1 1 auto;
  flex: 1 1 auto;
}

.proto-list-item {
  line-height: 2em;
  border: solid #999;
  border-width: 1px 0;
  margin-top: 2px;
  cursor: pointer;
}
.proto-list-item:hover {
  background-color: #eee;
}

.proto-togglable {
  display: none;
}

.proto-nextopen + .proto-togglable {
  display: initial;
}

@media screen and (max-width: 800px) {
  body {
    margin: 0;
  }

  .mobile {
    width: 100%;
    height: 100%;
    min-height: 480px;
  }

  .proto-nav {
    display: none;
  }

  .proto-info.active {
    display: none;
  }
}
