
.chromeless {
	border-width: 0;
	border-radius: 0;
	font: inherit;
	color: inherit;
	line-height:inherit;
	background-color: transparent;
	outline: 0;
	width: 100%;
	padding: 0;
	margin: 0;
	display: inline-block;
}

/* Buttons */
.btn {
	display:inline-block;
	position:relative;
	padding: 0.25em 1em;
	border-radius: 0.2rem;
	color: inherit;
	background-color: transparent;
	font: inherit;
	border:solid transparent 0.1rem;
	cursor:pointer;
	line-height:inherit;
	text-align:center;
	outline: 0;

	&:hover {
		text-decoration:none;
		outline:0;
	}


	&.text {
		background-color:transparent;
		border-width:0;
		color:inherit;
		padding:0;
	}

	&.solid {
		color: var(--color-neutral-dark);
		background-color: var(--color-neutral-light);
	}

	&.solid.main { background-color:var(--color-main-light); }
	&.solid.neutral { background-color:var(--color-neutral-light); }
	&.solid.commit { background-color:var(--color-commit-light); }
	&.solid.cancel { background-color:var(--color-cancel-light); }
	&.solid.warning { background-color:var(--color-warning-light); }

	&.solid.main.light { background-color:var(--color-main-light); }
	&.solid.neutral.light { background-color:var(--color-neutral-light); }
	&.solid.commit.light { background-color:var(--color-commit-light); }
	&.solid.cancel.light { background-color:var(--color-cancel-light); }
	&.solid.warning.light { background-color:var(--color-warning-light); }

	&.solid.main.medium { background-color:var(--color-main-medium); color:var(--color-white); }
	&.solid.neutral.medium { background-color:var(--color-neutral-medium); color:var(--color-white); }
	&.solid.commit.medium { background-color:var(--color-commit-medium); color:var(--color-white); }
	&.solid.cancel.medium { background-color:var(--color-cancel-medium); color:var(--color-white); }
	&.solid.warning.medium { background-color:var(--color-warning-medium); color:var(--color-white); }

	&.solid.main.dark { background-color:var(--color-main-dark); color:var(--color-main-light); }
	&.solid.neutral.dark { background-color:var(--color-neutral-dark); color:var(--color-neutral-light); }
	&.solid.commit.dark { background-color:var(--color-commit-dark); color:var(--color-commit-light); }
	&.solid.cancel.dark { background-color:var(--color-cancel-dark); color:var(--color-cancel-light); }
	&.solid.warning.dark { background-color:var(--color-warning-dark); color:var(--color-warning-light); }

	&.lined.main { border-color:var(--color-main-medium); }
	&.lined.neutral { border-color:var(--color-neutral-medium); }
	&.lined.commit { border-color:var(--color-commit-dark); }
	&.lined.cancel { border-color:var(--color-cancel-medium); }
	&.lined.warning { border-color:var(--color-warning-dark); }

	&.main:active { border-color:var(--color-main-dark); }
	&.neutral:active { border-color:var(--color-neutral-dark); }
	&.commit:active { border-color:var(--color-commit-dark); }
	&.cancel:active { border-color:var(--color-cancel-dark); }
	&.warning:active { border-color:var(--color-warning-dark); }

	&.text.main,&.lined.main { color:var(--color-main-medium); }
	&.text.neutral,&.lined.neutral { color:var(--color-neutral-medium); }
	&.text.commit,&.lined.commit { color:var(--color-commit-dark); }
	&.text.cancel,&.lined.cancel { color:var(--color-cancel-medium); }
	&.text.warning,&.lined.warning { color:var(--color-warning-dark); }

	&.full {
		width:100%;
		&+.full {
			margin-top: 0.3rem;
		}
	}
	&.flush {
		padding:0;
	}


	&.small {
		font-size:0.7em;
	}
	&.large {
		font-size:1.25em;
	}

}



.form {
	&-control {
		margin-top: 1em;
		margin-bottom: 1em;
	}
	&-input {
		@extend .chromeless;
		padding:0 1em;
		line-height:2em;
		border-bottom: 1px solid var(--color-neutral-medium);
	}
	&-label {
		margin: 0 1em;
		font-size: 0.7em;
		color:var(--color-neutral-medium);
	}
	&-button {
		@extend .btn;
		@extend .btn.solid;
		@extend .btn.solid.neutral;
		@extend .btn.full;
		&:active {
			background-color:var(--color-main-light);
		}
	}
	&-blank {
		@extend .chromeless;
	}
	

	&-group {
		display:flex;

		&>:not(:first-child):not(:last-child) {
			border-radius:0;
		}
		&>:last-child {
			border-top-left-radius:0;
			border-bottom-left-radius:0;
		}
		&>:first-child {
			border-top-right-radius:0;
			border-bottom-right-radius:0;
		}
	}
}



.hotdog {
	width: 100%;
	padding: 0 1em;
	border-radius: 2em;
	background-color: var(--color-neutral-light);
	color: var(--color-black);
	line-height: 2;
	height:2em;
	border-width: 0;
	font: inherit;
	display:inline-flex;
	outline:0;

	.navbar & {
		background-color: var(--color-main-light);
		color: var(--color-main-dark);
	}

	&>input {
		@extend .chromeless;
		line-height: 2;
	}

	.nav-overlay & {
		background-color: white;
		box-shadow:1px 1px 10px rgba(0,0,0,0.2);
		width: initial;
		height: var(--header-height);
	}
	
	a {
		padding: 0;
		background-color: rgba(255,255,255,0.5);
		border-radius: 2em;
		width: 1.8em;
		height: 1.8em;
		align-self: center;
		display: block;
		text-align: center;
		line-height: 1.8em;
	}

	&-bun {
		padding: 0.3em 0.5em;
		&>.hotdog {
			padding:0 1em;

		}
	}
}



