



/* Modal */
.modal {
    position:fixed;
    z-index:20;

    pointer-events:none;
    opacity:0;

    @extend .fill-parent;

    &.animated,
    &.animated .modal-drawer,
    &.animated .modal-popup {
        transition:all 0.3s;
    }



    &-back {
        @extend .fill-parent;
        position:absolute;
        background-color:rgba(0,0,0,0.7);
    }



    &-popup {
        position:absolute;
        top:50%;
        left:50%;
        transform:translate(-50%,calc(-50% + 2em));

        width:400px;
        max-width:calc(100% - 4em);
        max-height:calc(100% - 4em);
    }


    .rounded>:first-child,
    &-content>:first-child {
        border-radius: 0.2em 0.2em 0 0;
    }
    .rounded>:last-child,
    &-content>:last-child {
        border-radius: 0 0 0.2em 0.2em;
    }

    &-header,
    &-footer {
        background-color:var(--color-neutral-light);
        --header-height:2.5rem;
        height:var(--header-height);
        line-height:var(--header-height);
        position: relative;
        font-size:0.9em;
    }

    &-body {
        background-color:white;
        padding:1em;
    }



    &-drawer {
        --drawer-depth:200px;
        --drawer-breadth:100%;
        position: absolute;
        background-color: var(--color-white);

        &.right,
        &.left {
            top:0;
            width: var(--drawer-depth);
            height: var(--drawer-breadth);
        }
        &.top,
        &.bottom {
            left:0;
            height: var(--drawer-depth);
            width: var(--drawer-breadth);
        }

        &.left { left:0; transform: translateX(-100%); }
        &.right { right:0; transform: translateX(100%); }
        &.top { top:0; transform: translateY(-100%); }
        &.bottom { bottom:0; transform: translateY(100%); }
    }




    &.active {
        pointer-events:initial;
        opacity:1;

        .modal-popup { transform:translate(-50%,-50%); }

        .modal-drawer.right,
        .modal-drawer.left { transform: translateX(0); }
        .modal-drawer.bottom,
        .modal-drawer.top { transform: translateY(0); }
    }


}