
:root {

    --color-white: #fff;
    --color-black: #000;

    --color-main-light:#e5edff;
    --color-main-medium: #3e73dd;
    --color-main-dark:#0f3070;

    --color-neutral-light:rgb(236, 232, 232);
    --color-neutral-medium: rgb(146, 138, 138);
    --color-neutral-dark:#3d3636;

    --color-commit-light: #daffc8;
    --color-commit-medium: #61ce2e;
    --color-commit-dark: #245a0b;

    --color-cancel-light: #fdd8d8;
    --color-cancel-medium: #e64949;
    --color-cancel-dark: #4e0e0e;

    --header-height: 3rem;

    --font-sans:'Trebuchet MS','Tahoma',sans-serif;
    --font-serif:'Georgia','Lucida Bright',serif;
    --font-heading:var(--font-serif);
    --font-body:var(--font-sans);
}