
:root {

    --color-white: #fff;
    --color-black: #000;

    --color-main: #78a5ff;
    --color-main-light:#e5edff;
    --color-main-dark:#4778da;

    --color-neutral: #aaa;
    --color-neutral-light:#e9e6e6;
    --color-neutral-dark:#6e6a6a;

    --color-commit: #57d81d;
    --color-commit-dark: #33880c;
    --color-commit-light: #b1ff8d;

    --color-cancel: #ff7e7e;
    --color-cancel-dark: #7d2020;
    --color-cancel-light: #fbb9b9;

    --header-height: 3rem;

    --font-sans:'Trebuchet MS','Tahoma',sans-serif;
    --font-serif:'Georgia','Lucida Bright',serif;
    --font-heading:--var(--font-serif);
    --font-body:--var(--font-sans);
}