.grid { overflow: hidden; }

.row { display: flex; flex-wrap: wrap; }

.row.gap { --gap-size:0.5rem; margin-top: calc(-2 * var(--gap-size)); margin-left: calc(-1 * var(--gap-size)); margin-right: calc(-1 * var(--gap-size)); }

.row.gap > [class*='col-'] { margin-top: calc(2 * var(--gap-size)); padding-left: var(--gap-size); padding-right: var(--gap-size); }

.col-1 { flex: 0 0 calc(1 / 12 * 100%); }

.offset-1 { margin-left: calc(1 / 12 * 100%); }

.col-2 { flex: 0 0 calc(2 / 12 * 100%); }

.offset-2 { margin-left: calc(2 / 12 * 100%); }

.col-3 { flex: 0 0 calc(3 / 12 * 100%); }

.offset-3 { margin-left: calc(3 / 12 * 100%); }

.col-4 { flex: 0 0 calc(4 / 12 * 100%); }

.offset-4 { margin-left: calc(4 / 12 * 100%); }

.col-5 { flex: 0 0 calc(5 / 12 * 100%); }

.offset-5 { margin-left: calc(5 / 12 * 100%); }

.col-6 { flex: 0 0 calc(6 / 12 * 100%); }

.offset-6 { margin-left: calc(6 / 12 * 100%); }

.col-7 { flex: 0 0 calc(7 / 12 * 100%); }

.offset-7 { margin-left: calc(7 / 12 * 100%); }

.col-8 { flex: 0 0 calc(8 / 12 * 100%); }

.offset-8 { margin-left: calc(8 / 12 * 100%); }

.col-9 { flex: 0 0 calc(9 / 12 * 100%); }

.offset-9 { margin-left: calc(9 / 12 * 100%); }

.col-10 { flex: 0 0 calc(10 / 12 * 100%); }

.offset-10 { margin-left: calc(10 / 12 * 100%); }

.col-11 { flex: 0 0 calc(11 / 12 * 100%); }

.offset-11 { margin-left: calc(11 / 12 * 100%); }

.col-12 { flex: 0 0 calc(12 / 12 * 100%); }

.offset-12 { margin-left: calc(12 / 12 * 100%); }

.gap.gap-l { --gap-size:1.5rem; }

.gap.gap-m { --gap-size:1rem; }

.gap.gap-s { --gap-size:0.5rem; }

.gap.gap-n { --gap-size:0; }

@media (min-width: 0) { .col-xs-1 { flex: 0 0 calc(1 / 12 * 100%); }
  .offset-xs-1 { margin-left: calc(1 / 12 * 100%); }
  .col-xs-2 { flex: 0 0 calc(2 / 12 * 100%); }
  .offset-xs-2 { margin-left: calc(2 / 12 * 100%); }
  .col-xs-3 { flex: 0 0 calc(3 / 12 * 100%); }
  .offset-xs-3 { margin-left: calc(3 / 12 * 100%); }
  .col-xs-4 { flex: 0 0 calc(4 / 12 * 100%); }
  .offset-xs-4 { margin-left: calc(4 / 12 * 100%); }
  .col-xs-5 { flex: 0 0 calc(5 / 12 * 100%); }
  .offset-xs-5 { margin-left: calc(5 / 12 * 100%); }
  .col-xs-6 { flex: 0 0 calc(6 / 12 * 100%); }
  .offset-xs-6 { margin-left: calc(6 / 12 * 100%); }
  .col-xs-7 { flex: 0 0 calc(7 / 12 * 100%); }
  .offset-xs-7 { margin-left: calc(7 / 12 * 100%); }
  .col-xs-8 { flex: 0 0 calc(8 / 12 * 100%); }
  .offset-xs-8 { margin-left: calc(8 / 12 * 100%); }
  .col-xs-9 { flex: 0 0 calc(9 / 12 * 100%); }
  .offset-xs-9 { margin-left: calc(9 / 12 * 100%); }
  .col-xs-10 { flex: 0 0 calc(10 / 12 * 100%); }
  .offset-xs-10 { margin-left: calc(10 / 12 * 100%); }
  .col-xs-11 { flex: 0 0 calc(11 / 12 * 100%); }
  .offset-xs-11 { margin-left: calc(11 / 12 * 100%); }
  .col-xs-12 { flex: 0 0 calc(12 / 12 * 100%); }
  .offset-xs-12 { margin-left: calc(12 / 12 * 100%); }
  .gap.gap-xs-l { --gap-size:1.5rem; }
  .gap.gap-xs-m { --gap-size:1rem; }
  .gap.gap-xs-s { --gap-size:0.5rem; }
  .gap.gap-xs-n { --gap-size:0; } }

@media (min-width: 320px) { .col-sm-1 { flex: 0 0 calc(1 / 12 * 100%); }
  .offset-sm-1 { margin-left: calc(1 / 12 * 100%); }
  .col-sm-2 { flex: 0 0 calc(2 / 12 * 100%); }
  .offset-sm-2 { margin-left: calc(2 / 12 * 100%); }
  .col-sm-3 { flex: 0 0 calc(3 / 12 * 100%); }
  .offset-sm-3 { margin-left: calc(3 / 12 * 100%); }
  .col-sm-4 { flex: 0 0 calc(4 / 12 * 100%); }
  .offset-sm-4 { margin-left: calc(4 / 12 * 100%); }
  .col-sm-5 { flex: 0 0 calc(5 / 12 * 100%); }
  .offset-sm-5 { margin-left: calc(5 / 12 * 100%); }
  .col-sm-6 { flex: 0 0 calc(6 / 12 * 100%); }
  .offset-sm-6 { margin-left: calc(6 / 12 * 100%); }
  .col-sm-7 { flex: 0 0 calc(7 / 12 * 100%); }
  .offset-sm-7 { margin-left: calc(7 / 12 * 100%); }
  .col-sm-8 { flex: 0 0 calc(8 / 12 * 100%); }
  .offset-sm-8 { margin-left: calc(8 / 12 * 100%); }
  .col-sm-9 { flex: 0 0 calc(9 / 12 * 100%); }
  .offset-sm-9 { margin-left: calc(9 / 12 * 100%); }
  .col-sm-10 { flex: 0 0 calc(10 / 12 * 100%); }
  .offset-sm-10 { margin-left: calc(10 / 12 * 100%); }
  .col-sm-11 { flex: 0 0 calc(11 / 12 * 100%); }
  .offset-sm-11 { margin-left: calc(11 / 12 * 100%); }
  .col-sm-12 { flex: 0 0 calc(12 / 12 * 100%); }
  .offset-sm-12 { margin-left: calc(12 / 12 * 100%); }
  .gap.gap-sm-l { --gap-size:1.5rem; }
  .gap.gap-sm-m { --gap-size:1rem; }
  .gap.gap-sm-s { --gap-size:0.5rem; }
  .gap.gap-sm-n { --gap-size:0; } }

@media (min-width: 600px) { .col-md-1 { flex: 0 0 calc(1 / 12 * 100%); }
  .offset-md-1 { margin-left: calc(1 / 12 * 100%); }
  .col-md-2 { flex: 0 0 calc(2 / 12 * 100%); }
  .offset-md-2 { margin-left: calc(2 / 12 * 100%); }
  .col-md-3 { flex: 0 0 calc(3 / 12 * 100%); }
  .offset-md-3 { margin-left: calc(3 / 12 * 100%); }
  .col-md-4 { flex: 0 0 calc(4 / 12 * 100%); }
  .offset-md-4 { margin-left: calc(4 / 12 * 100%); }
  .col-md-5 { flex: 0 0 calc(5 / 12 * 100%); }
  .offset-md-5 { margin-left: calc(5 / 12 * 100%); }
  .col-md-6 { flex: 0 0 calc(6 / 12 * 100%); }
  .offset-md-6 { margin-left: calc(6 / 12 * 100%); }
  .col-md-7 { flex: 0 0 calc(7 / 12 * 100%); }
  .offset-md-7 { margin-left: calc(7 / 12 * 100%); }
  .col-md-8 { flex: 0 0 calc(8 / 12 * 100%); }
  .offset-md-8 { margin-left: calc(8 / 12 * 100%); }
  .col-md-9 { flex: 0 0 calc(9 / 12 * 100%); }
  .offset-md-9 { margin-left: calc(9 / 12 * 100%); }
  .col-md-10 { flex: 0 0 calc(10 / 12 * 100%); }
  .offset-md-10 { margin-left: calc(10 / 12 * 100%); }
  .col-md-11 { flex: 0 0 calc(11 / 12 * 100%); }
  .offset-md-11 { margin-left: calc(11 / 12 * 100%); }
  .col-md-12 { flex: 0 0 calc(12 / 12 * 100%); }
  .offset-md-12 { margin-left: calc(12 / 12 * 100%); }
  .gap.gap-md-l { --gap-size:1.5rem; }
  .gap.gap-md-m { --gap-size:1rem; }
  .gap.gap-md-s { --gap-size:0.5rem; }
  .gap.gap-md-n { --gap-size:0; } }

@media (min-width: 960px) { .col-lg-1 { flex: 0 0 calc(1 / 12 * 100%); }
  .offset-lg-1 { margin-left: calc(1 / 12 * 100%); }
  .col-lg-2 { flex: 0 0 calc(2 / 12 * 100%); }
  .offset-lg-2 { margin-left: calc(2 / 12 * 100%); }
  .col-lg-3 { flex: 0 0 calc(3 / 12 * 100%); }
  .offset-lg-3 { margin-left: calc(3 / 12 * 100%); }
  .col-lg-4 { flex: 0 0 calc(4 / 12 * 100%); }
  .offset-lg-4 { margin-left: calc(4 / 12 * 100%); }
  .col-lg-5 { flex: 0 0 calc(5 / 12 * 100%); }
  .offset-lg-5 { margin-left: calc(5 / 12 * 100%); }
  .col-lg-6 { flex: 0 0 calc(6 / 12 * 100%); }
  .offset-lg-6 { margin-left: calc(6 / 12 * 100%); }
  .col-lg-7 { flex: 0 0 calc(7 / 12 * 100%); }
  .offset-lg-7 { margin-left: calc(7 / 12 * 100%); }
  .col-lg-8 { flex: 0 0 calc(8 / 12 * 100%); }
  .offset-lg-8 { margin-left: calc(8 / 12 * 100%); }
  .col-lg-9 { flex: 0 0 calc(9 / 12 * 100%); }
  .offset-lg-9 { margin-left: calc(9 / 12 * 100%); }
  .col-lg-10 { flex: 0 0 calc(10 / 12 * 100%); }
  .offset-lg-10 { margin-left: calc(10 / 12 * 100%); }
  .col-lg-11 { flex: 0 0 calc(11 / 12 * 100%); }
  .offset-lg-11 { margin-left: calc(11 / 12 * 100%); }
  .col-lg-12 { flex: 0 0 calc(12 / 12 * 100%); }
  .offset-lg-12 { margin-left: calc(12 / 12 * 100%); }
  .gap.gap-lg-l { --gap-size:1.5rem; }
  .gap.gap-lg-m { --gap-size:1rem; }
  .gap.gap-lg-s { --gap-size:0.5rem; }
  .gap.gap-lg-n { --gap-size:0; } }

@media (min-width: 1200px) { .col-xl-1 { flex: 0 0 calc(1 / 12 * 100%); }
  .offset-xl-1 { margin-left: calc(1 / 12 * 100%); }
  .col-xl-2 { flex: 0 0 calc(2 / 12 * 100%); }
  .offset-xl-2 { margin-left: calc(2 / 12 * 100%); }
  .col-xl-3 { flex: 0 0 calc(3 / 12 * 100%); }
  .offset-xl-3 { margin-left: calc(3 / 12 * 100%); }
  .col-xl-4 { flex: 0 0 calc(4 / 12 * 100%); }
  .offset-xl-4 { margin-left: calc(4 / 12 * 100%); }
  .col-xl-5 { flex: 0 0 calc(5 / 12 * 100%); }
  .offset-xl-5 { margin-left: calc(5 / 12 * 100%); }
  .col-xl-6 { flex: 0 0 calc(6 / 12 * 100%); }
  .offset-xl-6 { margin-left: calc(6 / 12 * 100%); }
  .col-xl-7 { flex: 0 0 calc(7 / 12 * 100%); }
  .offset-xl-7 { margin-left: calc(7 / 12 * 100%); }
  .col-xl-8 { flex: 0 0 calc(8 / 12 * 100%); }
  .offset-xl-8 { margin-left: calc(8 / 12 * 100%); }
  .col-xl-9 { flex: 0 0 calc(9 / 12 * 100%); }
  .offset-xl-9 { margin-left: calc(9 / 12 * 100%); }
  .col-xl-10 { flex: 0 0 calc(10 / 12 * 100%); }
  .offset-xl-10 { margin-left: calc(10 / 12 * 100%); }
  .col-xl-11 { flex: 0 0 calc(11 / 12 * 100%); }
  .offset-xl-11 { margin-left: calc(11 / 12 * 100%); }
  .col-xl-12 { flex: 0 0 calc(12 / 12 * 100%); }
  .offset-xl-12 { margin-left: calc(12 / 12 * 100%); }
  .gap.gap-xl-l { --gap-size:1.5rem; }
  .gap.gap-xl-m { --gap-size:1rem; }
  .gap.gap-xl-s { --gap-size:0.5rem; }
  .gap.gap-xl-n { --gap-size:0; } }
