<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0">

<script src="../tools/apptools.js"></script>
<script>

    // Using multiple data evaluation types for makeDataTemplate
    console.log(makeDataTemplate("<%= type %>\n<%= name.first %>\n<%= classes[2][0].name %>")({
        type:"Teacher",
        name:{
            first:"Hamilton"
        },
        classes:[
            [5,6],
            {type:7},
            [{name:"Cline"}]
        ]
    }));

    // Using a single object for showDataList
    console.log(showDataList(
        {name:"Hamilton"},
        "<%= name %>"
    ));

    // Using an array for showDataList
    console.log(showDataList(
        [{name:"Hamilton"},{name:"Hamiltron"},{name:"Hamiltron Z"}],
        "<%= name %>\n"
    ));

    // Using a string of properties with searchDataList
    console.log(searchDataList(
        [
            {name:'George',email:'george@gmail.com'},
            {name:'Frank',email:'frank@gmail.com'},
            {name:'Reynolds',email:'georgereynolds@gmail.com'}
        ],
        'George',
        'email,name'
    ));

    // Using an array of properties with searchDataList
    console.log(searchDataList(
        [
            {name:'George',email:'george@gmail.com'},
            {name:'Frank',email:'frank@gmail.com'},
            {name:'Reynolds',email:'georgereynolds@gmail.com'}
        ],
        'frAnk',
        ['email','name']
    ));

    // Checking rebounce to make sure all values work and arguments passed correctly
    let tocheck = 0;
    const checker = function(v) {
        console.log("tocheck being checked");
        if(!rebounce(tocheck,checker,arguments)) return;
        else console.log(v);
    }
    setTimeout(() => tocheck++,10);
    checker("tocheck valid");
</script>
</head>
<body>
	<p>This page contains coded tests for certain apptools.js functions. check the console for output.</p>
</body>
</html>