



#nav-menu+label {
    display:none;
}

@media (max-width:600px) {
    .responsive {
        .nav {
            width:100%;
            line-height:calc(var(--header-height) * 0.66);
        }
        ul {
            display:none;
        }
    }
    #nav-menu {
        &+label {
            display:block;
        }
        &:checked~.nav ul {
            display:block;
            padding-bottom:1em;
        }
    }
}







@media (max-width:500px) {
    .hidden.responsive,
    .flex-parent.responsive,
    .nav.responsive ul {
        display:initial;
    }
    .nav-pills.responsive a {
        border-radius:0;
    }

    .hamburger-label {
        display:inline-block;
    }
    .hamburger-menu+nav {
        display:none;
    }
    .hamburger-menu:checked+nav {
        display:block;
    }
}