
/* Pattern demo definitions */
.well {
    padding: 1em;
    border: solid 2px var(--color-neutral-light);
    border-radius: 0.3em;
}
.pattern {
    max-width:500px;
    margin-left:auto;
    margin-right:auto;
    position: relative;
    z-index: 2;

    &.gray,
    &.grey {
        background-color: var(--color-neutral-light);
    }

    &.well {
        box-shadow:1px 1px 5px rgba(0,0,0,0.2);
        background-color: var(--color-white);
        border-width:0;
        &>:first-child { margin-top:0; }
        &>:last-child { margin-bottom:0; }
    }

    &.modalish {
        border-radius:0.2em;
        box-shadow:1px 1px 5px rgba(0,0,0,0.4);
        font-family:Verdana, sans-serif;
    }
    &.mobile {
        box-shadow:1px 1px 5px rgba(0,0,0,0.4);
        --screen-width:375px;
        max-width:var(--screen-width);
    }
    .hole {
        padding:0.2em 0.5em;
        background-color:var(--color-neutral-light);
        border:white solid 1px;
    }

    &+code.block {
        margin-top: -1.5rem;

        @media (max-width:500px) {
            margin-top: -1rem;
        }
    }
}




/* Table of Contents */
.gloss ul,
.toc ul{
    list-style-type:none;
    padding-left:1em;
}
.gloss li,
.toc li {
    /*line-height:1.5rem;*/
    font-size:0.9em;
    text-transform: capitalize;
}
.gloss>ul>li,
.toc>ul>li {
    font-size:1em;
    text-transform: uppercase;
}
.gloss {
    font-size:0.8em;
}
.toc a:hover {
    text-decoration:underline;
}



ul .operator {
    width:2.5em;
    font-family:Monaco,monospace;
    display:inline-block;
}





/* Code Blocks */
code {
    padding: 1em;
    background-color: #eee;
    border-radius: 0.3em;
    tab-size: 3;

    &.output,
    &.block {
        display: block;
        white-space: pre;
        width: 100%;
        overflow: auto;
        position:relative;
        margin:1em 0;
        &::before {
            content: attr(data-title);
            position: absolute;
            top: 0.2em;
            right: 0.5rem;
            font-size: 0.7em;
        }
    }
    &.inline {
        display: inline;
        padding: 0.1em 0.5em;
        font-size: inherit;
        white-space: nowrap;
    }
    &.output {
        color:rgba(0,0,0,0.5);
    }
    &[data-title='html'] {
        background-color: #eff;
    }
    &[data-title='css'] {
        background-color: #efe;
    }

    @media (max-width:500px) {
        &.inline {
            white-space: initial;
            max-width: 100%;
        }
    }
}





.linear-nav {
    margin: 3em 0;
    border-top: 2px dashed #ddd;
    border-bottom: 2px dashed #ddd;
    padding: 1em 0;
}






.scroll-timeline {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 3px;
    background-color: rgba(255,255,255,0.5);
    pointer-events: none;
    z-index: 9;
    span {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width:0;
        background-color: var(--main-color);
    }
}



.tree {
    padding-inline-start: 0;
    ul {
        padding-inline-start: 1em;
        border-inline-start: 1px solid #ddd;
    }
    &-folder {
        color: #5457ff;
        list-style-type: none;
        border-inline-start: 2px solid #99f;
        padding-inline-start: 0.3em;
    }
    &-file {
        color: #9798c3;
        list-style-type: none;
        border-inline-start: 2px solid #ddf;
        padding-inline-start: 0.3em;
    }
}