* {
    box-sizing:border-box;
}

html,body {
    // height:100%;
    margin:0;
    overflow:hidden;
    font-family:helvetica,arial,sans-serif;
    font-size:100%;
}
h1,h2,h3,h4,h5,h6 {
    font-family:georgia,serif;
}

dt {
    margin-top:.5em;
    font-weight:bold;
}
dd {
    margin:10px;
}
p {
    line-height:1.2em;
    // font-size:1em;
}

a {
    color:blue;
    text-decoration:none;
    &:hover {
        text-decoration:underline;
    }
}





code {
    display:block;
    white-space:pre-wrap;
    padding:10px;
    background-color:#efe;
    border-radius:4px;
}



.header-btn {
    line-height:$headheight;
    text-align:center;
    padding:0 1em;
    font-size:0.8em;
    color:inherit;
    text-decoration:none;
    font-weight:bold;
    border-width:0;
    border-radius:0;
    background-color:transparent;
    display:block;


    .btn-icon {
        width: 1em;
        height: 1em;
        display: block;
        font-size: 2em;
        line-height: 2rem;
        vertical-align: middle;
        font-style: normal;
    }
    .btn-description {
        display: block;
        line-height: 1rem;
        font-size: 0.75em;
    }
    &.active,
    &:hover {
        background-color:white;
    }
}




[data-role='page'] {
    position:fixed;
    top:0;
    left:0;
    width:100%;
    height:100%;

    display:flex;
    flex-direction:column;
}
[data-role='header'],
[data-role='footer'] {
    height:$headheight;
    background-color: #eee;

    flex:none;

    ul {
        @extend .collapsed;
    }

    a {
        @extend .header-btn;
    }
}

[data-role='header'] {
    position: relative;
    order:1;
    h1 {
        line-height:$headheight;
        position:absolute;
        width:100%;
        text-align:center;
        font-weight:bold;
        margin:0;
        font-size:1.15rem;
        z-index:1;
    }
    ul {
        position:relative;
        z-index:2;
        display:flex;
        align-items:center;
    }
    li {
        flex:none;
    }
    li:empty {
        flex:1 1 auto;
    }
}
[data-role='footer'] {
    order:3;
    ul {
        display:flex;
        align-items:center;
    }
    li {
        flex:1 1 auto;
    }
}

[data-role='main'] {
    order:2;
    height:100%;
    flex:1 1 auto;
    overflow:auto;

    h2 {
        font-size:1.1em;
    }
}
[data-role='header']:first-child+[data-role='main'],
[data-role='footer']:first-child+[data-role='main'] {
    height:calc(100% - #{$headheight});
}
[data-role='header']+
[data-role='footer']+
[data-role='main'] {
    height:calc(100% - #{$headheight * 2});
}

// .container {
//     max-width:1000px;
//     margin-right:auto;
//     margin-left:auto;
// }



.btn {
    display:inline-block;
    box-shadow: 0 0 0 transparent;
    height: 2em;
    font-size:inherit;
    font-family:inherit;
    background-color: #ddd;
    line-height: 2em;
    padding: 0 0.5em;
    margin: 0;
    color: inherit;
    border-radius:4px;
    border-width:0;
    vertical-align: baseline;
    text-decoration:none;
    cursor:pointer;
    outline:0;

    &:hover,
    &:active {
        background-color:#efefef;
        color:inherit;
    }

    &-full {
        width:100%;
        text-align:center;
    }

}

a.btn {
    text-decoration:none;
    &:hover {
        text-decoration:none;
    }
}


.btn-group {
    .btn,
    a,
    input {
        @extend .header-btn;
    }
}






.flex-parent {
    display:flex;
}
.flex-child {
    flex:1 1 auto;
}
.flex-none {
    flex:none;
}
.flex-center {
    align-items:center;
}



.space-window {
    position:fixed;
    width:100%;
    height:100%;
    top:0;
    left:0;
    pointer-events:none;
    opacity:0;
    transition: opacity 0.3s;
    z-index:5;

    &.active {
        opacity:1;
        pointer-events:initial;
    }
}

.back-cover {
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background-color:rgba(0,0,0,0.7);
}

.modal {
    @extend .space-window;

    &-content {
        position:absolute;
        top:50%;
        left:50%;
        transform:translate(-50%,calc(-50% + 4em));
        width:100%;
        max-width:calc(100% - 20px);
        max-height:calc(100% - 20px);
        transition: all 0.3s;
        display:flex;
        flex-direction:column;

        .modal.active & {
            transform:translate(-50%,-50%);
        }
        &>:first-child {
            border-radius: 0.5em 0.5em 0 0;
        }
        &>:last-child {
            border-radius: 0 0 0.5em 0.5em;
        }
    }
    &-head,
    &-foot {
        background-color:#eee;
        line-height: $headheight;
        text-align: center;
        font-weight:bold;
        margin:0;
        font-size:1em;
    }
    &-head {
        order:1;
    }
    &-foot {
        order:3;
    }
    &-body {
        order:2;
        background-color:#fff;
        overflow:auto;
        flex:1 1 auto;
    }
}


.drawer {
    @extend .space-window;

    &-content-left,
    &-content-right,
    &-content-top,
    &-content-bottom,
    &-content {
        position:absolute;
        transition: all 0.3s;
    }
    &-content-left {
        top:0;
        left:0;
        height:100%;
        transform:translateX(-100%);

        .drawer.active & {
            transform:translateX(0);
        }
    }
    &-content-right {
        top:0;
        right:0;
        height:100%;
        transform:translateX(100%);

        .drawer.active & {
            transform:translateX(0);
        }
    }
    &-content-top {
        top:0;
        left:0;
        width:100%;
        transform:translateY(-100%);

        .drawer.active & {
            transform:translateY(0);
        }
    }
    &-content-bottom {
        bottom:0;
        left:0;
        width:100%;
        transform:translateY(100%);

        .drawer.active & {
            transform:translateY(0);
        }
    }
    &-head {
        background-color:#eee;
        line-height: $headheight;
        text-align: center;
        font-weight:bold;
        margin:0;
        font-size:1.2em;
    }
    &-body {
        height:calc(100% - #{$headheight});
        background-color:#fff;
        overflow:auto;
    }
}








.table {
    width:100%;
    border-collapse:collapse;
}
.table th,
.table td {
    text-align: left;
    padding:0.2em 0.5em;
    vertical-align: top;
}


.table.striped tbody tr:nth-child(odd) {
    background-color:rgba(0,0,0,0.1);
}

.table.lined tbody tr,
.table.lined-horizontal tbody tr {
    border-top:1px dotted #ccc;
}
.table.lined td:not(:first-child),
.table.lined th:not(:first-child),
.table.lined-vertical td:not(:first-child),
.table.lined-vertical th:not(:first-child) {
    border-left:1px dotted #ccc;
}
.table.lined,
.table.lined-outline {
    border:1px solid black;
}


.table tr:hover th,
.table tr:hover td {
    background-color:rgba(0,0,255,0.1);
}







@media screen and (max-width:800px) {
    [data-role='main'] h2,
    [data-role='main'] p {
        padding-left:10px;
        padding-right:10px;
    }
}