/*

Base Proto v 0.5

*/

* {
    box-sizing:border-box;
}

html,body {
    height:100%;
    margin:0;
}

dt {
    margin-top:.5em;
    font-weight:bold;
}
dd {
    margin:10px;
}
p {
    line-height:1.2em;
}

a {
    color:blue;
    text-decoration:none;
    &:hover {
        text-decoration:underline;
    }
}


figure[class] {
    margin:0;
}
aside[class] {
    z-index: 1001;
    width:100%;
    height:100%;
    position:absolute;
    top:0;
    left:0;
    .proto-aside-cover {
        width:100%;
        height:100%;
        position:absolute;
        top:0;
        left:0;
        background-color:rgba(0,0,0,0.7);
        opacity:0;
        transition: 0.3s;
    }
    .proto-aside-content {
        position: absolute;
        top: 50%;
        left: 50%;
        transform:translate(-50%,0);
        max-width: calc(100% - 40px);
        max-height: calc(100% - 40px);
        text-align: center;
        background-color: #eee;
        border-radius: .5em;
        box-shadow: 2px 2px 10px 1px rgba(0,0,0,.2);
        opacity:0;
        transition: 0.3s;
        padding:10px;
    }
    &.proto-show {
        .proto-aside-cover {
            opacity:1;
        }
        .proto-aside-content {
            transform:translate(-50%,-50%);
            opacity:1;
        }
    }

}


[data-role='body'] {
    // padding-left:1em;
    // padding-right:1em;
}



.proto-nav {
    white-space: nowrap;
}



.body {
    overflow:auto;
    position:relative;
    width:100%;
    height:100vh;
    left:0;

    p {
        text-align:justify;
    }
    
    
    .nav-bar:first-child+& {
        height: calc(100vh - #{$headheight});
    }
    .nav-bar+.nav-bar+& {
        height: calc(100vh - #{$headheight * 2});
    }
}

.container {
    max-width:1000px;
    margin-right:auto;
    margin-left:auto;
}



.btn {
    display:inline-block;
    box-shadow: 0 0 0 transparent;
    height: 2em;
    font-size:inherit;
    font-family:inherit;
    background-color: #ddd;
    line-height: 2em;
    padding: 0 0.5em;
    margin: 0;
    color: inherit;
    border-radius:4px;
    border-width:0;
    vertical-align: baseline;
    text-decoration:none;
    cursor:pointer;
    outline:0;
    &:hover,
    &:active {
        background-color:#efefef;
        color:inherit;
    }

}

.compact {
  list-style-type:none;
  margin-top:0;
  margin-bottom:0;
  padding-left:0;
}

.proto-title {
    text-transform:uppercase;
    font-size:1.2em;
    text-align:center;
    line-height: $headheight;
}

.nav {
  
    ul {
        @extend .compact;
    }
    a {
        display:block;
    }

    &-title,
    &-btns {
        position:absolute;
        top:0;
        left:0;
        width:100%;
        height:100%;
    }

    &-bar {
        background-color:#ddd;
        height: $headheight;
        line-height: $headheight;
        width: 100%;
        color:#555;
        // text-shadow:0 1px 1px rgba(0,0,0,0.3);

        -webkit-touch-callout: none;
        -webkit-user-select: none;
        -khtml-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;

        &-head {
            position:relative;
        }
        &-foot {
            bottom: 0px;
            position: absolute;
            left: 0px;
        }

        p { 
            padding:0 0.5em;
            margin:0;
            line-height: $headheight;
        }

        .btn {
            vertical-align: middle;
            height: $headheight;
            background-color: transparent;
            line-height: $headheight;
            padding: 0 ($headheight / 3);
            text-align:center;
            margin: 0;
            color: #555;
            border-radius:0;
            &:hover,
            &:active {
                background-color:white;
                color:black;
            }
            &-icon,
            &-description {
                display:block;
                line-height: 1em;
            }
            &-icon {
                font-size: ($headheight / 3) * 2;
                margin-bottom: -0.10em;
                font-style:normal;
            }
            &-description {
                font-size:0.6em;
            }
        }
    }

    // &-btns-right {
    //     text-align:right;
    //     li {
    //         display:inline-block;
    //         float:none;
    //     }
    // }
    &-btns {
        display:-webkit-flex;
        display:flex;

        li {
            -webkit-flex:none;
            flex:none;
        }
        li:empty {
            -webkit-flex:1 1 auto;
            flex:1 1 auto;
        }
        .btn {
            // padding:0;
        }
    }
    &-flex {
        li {
            -webkit-flex:1 1 auto;
            flex:1 1 auto;
        }
    }
}



.proto-list {
    @extend .compact;
    &-accordion {
        @extend .compact;
    }
    &-item {
        line-height:2em;
        border: solid #999;
        border-width:1px 0;
        margin-top:2px;
        cursor:pointer;
        &:hover {
            background-color:#eee;
        }
    }
}



.proto-flex {
    display:-webkit-flex;
    display:flex;
    align-items:center;
    &-title,
    &-btn {
        padding: 0 0.5em;
    }
    &-none,
    &-btn {
        -webkit-flex:none;
        flex:none;
        border-radius:0;
    }
    &-child,
    &-title {
        -webkit-flex:1 1 auto;
        flex:1 1 auto;
    }
}




.space-window {
    position:fixed;
    width:100%;
    height:100vh;
    top:0;
    left:0;
    pointer-events:none;
    opacity:0;
    transition: opacity 0.3s;

    &.active {
        opacity:1;
        pointer-events:initial;
    }
}

.back-cover {
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100vh;
    background-color:rgba(0,0,0,0.7);
}

.modal {
    @extend .space-window;

    &-content {
        position:absolute;
        top:50%;
        left:50%;
        transform:translate(-50%,calc(-50% + 4em));
        max-width:calc(100% - 20px);
        max-height:calc(100% - 20px);
        transition: all 0.3s;

        .modal.active & {
            transform:translate(-50%,-50%);
        }
    }
    &-head {
        border-radius:0.5em 0.5em 0 0;
        background-color:#eee;
        padding:0.2em 0.5em;
        text-align: center;
        font-weight:bold;
    }
    &-body {
        border-radius: 0 0 0.5em 0.5em;
        background-color:#fff;
        overflow:auto;
        padding:10px;
    }
}


.drawer {
    @extend .space-window;

    &-content-left,
    &-content-right,
    &-content-top,
    &-content-bottom,
    &-content {
        position:absolute;
        transition: all 0.3s;
    }
    &-content-left {
        top:0;
        left:0;
        height:100%;
        transform:translateX(-100%);

        .drawer.active & {
            transform:translateX(0);
        }
    }
    &-content-right {
        top:0;
        right:0;
        height:100%;
        transform:translateX(100%);

        .drawer.active & {
            transform:translateX(0);
        }
    }
    &-content-top {
        top:0;
        left:0;
        width:100%;
        transform:translateY(-100%);

        .drawer.active & {
            transform:translateY(0);
        }
    }
    &-content-bottom {
        bottom:0;
        left:0;
        width:100%;
        transform:translateY(100%);

        .drawer.active & {
            transform:translateY(0);
        }
    }
    &-head {
        background-color:#eee;
        padding:0.2em 0.5em;
        height:1.5em;
        text-align: center;
        font-weight:bold;
    }
    &-body {
        height:calc(100% - 1.5em);
        background-color:#fff;
        overflow:auto;
        padding:10px;
    }
}







@media screen and (max-width:800px) {
    [data-role='main'] h2,
    [data-role='main'] p {
        padding-left:10px;
        padding-right:10px;
    }
    // body {
    //     margin:0;
    // }
    // .mobile {
    //     width: 100%;
    //     height: 100%;
    //     min-height: 480px;
    // }
    // .proto-nav {
    //     display: none;
    // }
    // .proto-info.active {
    //     display: none;
    // }
}