/*

Base Proto v 0.5

*/
section, aside[id], figure[id] {
  display: none; }

section.active {
  display: block; }

.proto-togglable {
  display: none; }

.proto-nextopen + .proto-togglable {
  display: initial; }

/*

Base Proto v 0.5

*/
* {
  box-sizing: border-box; }

html, body {
  margin: 0;
  overflow: hidden; }

dt {
  margin-top: .5em;
  font-weight: bold; }

dd {
  margin: 10px; }

p {
  line-height: 1.2em; }

a {
  color: blue;
  text-decoration: none; }
  a:hover {
    text-decoration: underline; }

code {
  display: block;
  white-space: pre;
  padding: 10px;
  background-color: #efe;
  border-radius: 4px; }

[data-role='page'] {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; }

[data-role='header'],
[data-role='footer'] {
  height: 3rem;
  background-color: #eee; }
  [data-role='header'] ul,
  [data-role='footer'] ul {
    list-style-type: none;
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0; }
  [data-role='header'] a,
  [data-role='footer'] a {
    line-height: 3rem;
    text-align: center;
    padding: 0 0.5em;
    font-size: 0.8em;
    text-decoration: none;
    font-weight: bold;
    display: block; }
    [data-role='header'] a.active, [data-role='header'] a:hover,
    [data-role='footer'] a.active,
    [data-role='footer'] a:hover {
      background-color: rgba(255, 255, 255, 0.6); }

[data-role='header'] {
  position: relative; }
  [data-role='header'] h1 {
    line-height: 3rem;
    position: absolute;
    width: 100%;
    text-align: center;
    font-weight: bold;
    margin: 0;
    font-size: 1.15rem;
    z-index: 1; }
  [data-role='header'] ul {
    position: relative;
    z-index: 2;
    display: flex;
    align-items: center; }
  [data-role='header'] li {
    flex: none; }
  [data-role='header'] li:empty {
    flex: 1 1 auto; }

[data-role='footer'] {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%; }
  [data-role='footer'] ul {
    display: flex;
    align-items: center; }
  [data-role='footer'] li {
    flex: 1 1 auto; }

[data-role='main'] {
  height: 100%;
  overflow: auto; }

[data-role='header']:first-child + [data-role='main'],
[data-role='footer']:first-child + [data-role='main'] {
  height: calc(100% - 3rem); }

[data-role='header'] +
[data-role='footer'] +
[data-role='main'] {
  height: calc(100% - 6rem); }

.container {
  max-width: 1000px;
  margin-right: auto;
  margin-left: auto; }

.btn {
  display: inline-block;
  box-shadow: 0 0 0 transparent;
  height: 2em;
  font-size: inherit;
  font-family: inherit;
  background-color: #ddd;
  line-height: 2em;
  padding: 0 0.5em;
  margin: 0;
  color: inherit;
  border-radius: 4px;
  border-width: 0;
  vertical-align: baseline;
  text-decoration: none;
  cursor: pointer;
  outline: 0; }
  .btn:hover, .btn:active {
    background-color: #efefef;
    color: inherit; }

a.btn {
  text-decoration: none; }
  a.btn:hover {
    dext-decoration: none; }

.compact {
  list-style-type: none;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0; }

.flex-parent {
  display: flex;
  align-items: center; }

.flex-child {
  flex: 1 1 auto; }

.flex-none {
  flex: none; }

.space-window, .modal, .drawer {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  pointer-events: none;
  opacity: 0;
  transition: opacity 0.3s;
  z-index: 5; }
  .space-window.active, .active.modal, .active.drawer {
    opacity: 1;
    pointer-events: initial; }

.back-cover {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.7); }

.modal-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, calc(-50% + 4em));
  max-width: calc(100% - 20px);
  max-height: calc(100% - 20px);
  transition: all 0.3s; }
  .modal.active .modal-content {
    transform: translate(-50%, -50%); }
.modal-head {
  border-radius: 0.5em 0.5em 0 0;
  background-color: #eee;
  line-height: 3rem;
  text-align: center;
  font-weight: bold; }
.modal-body {
  border-radius: 0 0 0.5em 0.5em;
  background-color: #fff;
  overflow: auto;
  padding: 10px; }

.drawer-content-left, .drawer-content-right, .drawer-content-top, .drawer-content-bottom, .drawer-content {
  position: absolute;
  transition: all 0.3s; }
.drawer-content-left {
  top: 0;
  left: 0;
  height: 100%;
  transform: translateX(-100%); }
  .drawer.active .drawer-content-left {
    transform: translateX(0); }
.drawer-content-right {
  top: 0;
  right: 0;
  height: 100%;
  transform: translateX(100%); }
  .drawer.active .drawer-content-right {
    transform: translateX(0); }
.drawer-content-top {
  top: 0;
  left: 0;
  width: 100%;
  transform: translateY(-100%); }
  .drawer.active .drawer-content-top {
    transform: translateY(0); }
.drawer-content-bottom {
  bottom: 0;
  left: 0;
  width: 100%;
  transform: translateY(100%); }
  .drawer.active .drawer-content-bottom {
    transform: translateY(0); }
.drawer-head {
  background-color: #eee;
  line-height: 3rem;
  text-align: center;
  font-weight: bold; }
.drawer-body {
  height: calc(100% - 3rem);
  background-color: #fff;
  overflow: auto;
  padding: 10px; }

@media screen and (max-width: 800px) {
  [data-role='main'] h2,
  [data-role='main'] p {
    padding-left: 10px;
    padding-right: 10px; } }

/*# sourceMappingURL=proto.css.map */
