section, aside[id], figure[id] {
  display: none; }

section.active {
  display: block; }

* {
  box-sizing: border-box; }

/* Just design stuff, not grid */
.collapsed {
  list-style-type: none;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0; }

.well, .swell {
  background-color: rgba(0, 0, 0, 0.12);
  padding: 10px;
  border-radius: 0;
  border: 1px solid rgba(0, 0, 0, 0.12); }

.swell {
  padding: initial; }

.lined {
  border: 1px solid rgba(0, 0, 0, 0.5); }

.centered-child {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); }

.fill-child, .square-child {
  height: 100%;
  width: 100%; }

.square-parent {
  position: relative;
  height: 0;
  padding-bottom: 100%; }

.square-child {
  position: absolute; }

/* end design stuff */
.grid {
  overflow: hidden; }

[class*='col-'] {
  float: left; }

.row:after {
  content: "";
  display: table;
  clear: both; }
.row.gutters {
  margin-top: -10px;
  margin-left: -5px;
  margin-right: -5px; }
  .row.gutters > [class*='col-'] {
    padding-top: 10px;
    padding-left: 5px;
    padding-right: 5px; }
.row.flex {
  display: flex;
  flex-wrap: wrap;
  align-items: center; }
  .row.flex > [class*='col-'] {
    flex: 1 1 auto;
    float: none; }

/*---------------------------------------------------------------
xs media minimum
-----------------------------------------------------------------*/
@media (min-width: 0) {
  .container {
    margin-right: auto;
    margin-left: auto;
    max-width: auto; }

  .col-xs-side {
    width: 180px; }

  .col-xs-main {
    width: calc(100% - 180px); }

  .col-xs-main2 {
    width: calc(100% - 360px); }

  .col-xs-0 {
    width: 0%; }

  .offset-xs-0 {
    margin-left: 0%; }

  .col-xs-1 {
    width: 8.3333333333%; }

  .offset-xs-1 {
    margin-left: 8.3333333333%; }

  .col-xs-2 {
    width: 16.6666666667%; }

  .offset-xs-2 {
    margin-left: 16.6666666667%; }

  .col-xs-3 {
    width: 25%; }

  .offset-xs-3 {
    margin-left: 25%; }

  .col-xs-4 {
    width: 33.3333333333%; }

  .offset-xs-4 {
    margin-left: 33.3333333333%; }

  .col-xs-5 {
    width: 41.6666666667%; }

  .offset-xs-5 {
    margin-left: 41.6666666667%; }

  .col-xs-6 {
    width: 50%; }

  .offset-xs-6 {
    margin-left: 50%; }

  .col-xs-7 {
    width: 58.3333333333%; }

  .offset-xs-7 {
    margin-left: 58.3333333333%; }

  .col-xs-8 {
    width: 66.6666666667%; }

  .offset-xs-8 {
    margin-left: 66.6666666667%; }

  .col-xs-9 {
    width: 75%; }

  .offset-xs-9 {
    margin-left: 75%; }

  .col-xs-10 {
    width: 83.3333333333%; }

  .offset-xs-10 {
    margin-left: 83.3333333333%; }

  .col-xs-11 {
    width: 91.6666666667%; }

  .offset-xs-11 {
    margin-left: 91.6666666667%; }

  .col-xs-12 {
    width: 100%; }

  .offset-xs-12 {
    margin-left: 100%; }

  .p-xs-tl {
    padding-top: 20px; }

  .p-xs-rl {
    padding-right: 20px; }

  .p-xs-bl {
    padding-bottom: 20px; }

  .p-xs-ll {
    padding-left: 20px; }

  .p-xs-hl {
    padding-left: 20px;
    padding-right: 20px; }

  .p-xs-vl {
    padding-top: 20px;
    padding-bottom: 20px; }

  .p-xs-l {
    padding: 20px; }

  .p-xs-tm {
    padding-top: 10px; }

  .p-xs-rm {
    padding-right: 10px; }

  .p-xs-bm {
    padding-bottom: 10px; }

  .p-xs-lm {
    padding-left: 10px; }

  .p-xs-hm {
    padding-left: 10px;
    padding-right: 10px; }

  .p-xs-vm {
    padding-top: 10px;
    padding-bottom: 10px; }

  .p-xs-m {
    padding: 10px; }

  .p-xs-ts {
    padding-top: 5px; }

  .p-xs-rs {
    padding-right: 5px; }

  .p-xs-bs {
    padding-bottom: 5px; }

  .p-xs-ls {
    padding-left: 5px; }

  .p-xs-hs {
    padding-left: 5px;
    padding-right: 5px; }

  .p-xs-vs {
    padding-top: 5px;
    padding-bottom: 5px; }

  .p-xs-s {
    padding: 5px; }

  .p-xs-tn {
    padding-top: 0; }

  .p-xs-rn {
    padding-right: 0; }

  .p-xs-bn {
    padding-bottom: 0; }

  .p-xs-ln {
    padding-left: 0; }

  .p-xs-hn {
    padding-left: 0;
    padding-right: 0; }

  .p-xs-vn {
    padding-top: 0;
    padding-bottom: 0; }

  .p-xs-n {
    padding: 0; }

  .m-xs-tl {
    margin-top: 20px; }

  .m-xs-rl {
    margin-right: 20px; }

  .m-xs-bl {
    margin-bottom: 20px; }

  .m-xs-ll {
    margin-left: 20px; }

  .m-xs-hl {
    margin-left: 20px;
    margin-right: 20px; }

  .m-xs-vl {
    margin-top: 20px;
    margin-bottom: 20px; }

  .m-xs-l {
    margin: 20px; }

  .m-xs-tm {
    margin-top: 10px; }

  .m-xs-rm {
    margin-right: 10px; }

  .m-xs-bm {
    margin-bottom: 10px; }

  .m-xs-lm {
    margin-left: 10px; }

  .m-xs-hm {
    margin-left: 10px;
    margin-right: 10px; }

  .m-xs-vm {
    margin-top: 10px;
    margin-bottom: 10px; }

  .m-xs-m {
    margin: 10px; }

  .m-xs-ts {
    margin-top: 5px; }

  .m-xs-rs {
    margin-right: 5px; }

  .m-xs-bs {
    margin-bottom: 5px; }

  .m-xs-ls {
    margin-left: 5px; }

  .m-xs-hs {
    margin-left: 5px;
    margin-right: 5px; }

  .m-xs-vs {
    margin-top: 5px;
    margin-bottom: 5px; }

  .m-xs-s {
    margin: 5px; }

  .m-xs-tn {
    margin-top: 0; }

  .m-xs-rn {
    margin-right: 0; }

  .m-xs-bn {
    margin-bottom: 0; }

  .m-xs-ln {
    margin-left: 0; }

  .m-xs-hn {
    margin-left: 0;
    margin-right: 0; }

  .m-xs-vn {
    margin-top: 0;
    margin-bottom: 0; }

  .m-xs-n {
    margin: 0; }

  .pull-xs-left {
    float: left; }

  .pull-xs-right {
    float: right; }

  .pull-xs-none {
    float: none; }

  .pull-xs-clear {
    clear: both; }

  .pull-xs-center {
    margin-left: auto;
    margin-right: auto; }

  .align-xs-l {
    text-align: left; }

  .align-xs-c {
    text-align: center; }

  .align-xs-r {
    text-align: right; }

  .align-xs-j {
    text-align: justify; }

  .align-xs-t {
    vertical-align: top; }

  .align-xs-m {
    vertical-align: middle; }

  .align-xs-b {
    vertical-align: bottom; }

  .align-xs-bl {
    vertical-align: baseline; }

  .display-xs-b {
    display: block; }

  .display-xs-ib {
    display: inline-block; }

  .display-xs-f {
    display: flex; }

  .display-xs-n {
    display: none; }

  .position-xs-s {
    position: static; }

  .position-xs-r {
    position: relative; }

  .position-xs-a {
    position: absolute; }

  .position-xs-f {
    position: fixed; }

  .flex-xs-parent {
    display: flex;
    align-items: center; }

  .flex-xs-wrap {
    flex-wrap: wrap; }

  .flex-xs-nowrap {
    flex-wrap: nowrap; }

  .flex-xs-child {
    flex: 1 1 auto; }

  .flex-xs-none {
    flex: none; } }
/*---------------------------------------------------------------
sm media minimum
-----------------------------------------------------------------*/
@media (min-width: 320px) {
  .container {
    margin-right: auto;
    margin-left: auto;
    max-width: auto; }

  .col-sm-side {
    width: 180px; }

  .col-sm-main {
    width: calc(100% - 180px); }

  .col-sm-main2 {
    width: calc(100% - 360px); }

  .col-sm-0 {
    width: 0%; }

  .offset-sm-0 {
    margin-left: 0%; }

  .col-sm-1 {
    width: 8.3333333333%; }

  .offset-sm-1 {
    margin-left: 8.3333333333%; }

  .col-sm-2 {
    width: 16.6666666667%; }

  .offset-sm-2 {
    margin-left: 16.6666666667%; }

  .col-sm-3 {
    width: 25%; }

  .offset-sm-3 {
    margin-left: 25%; }

  .col-sm-4 {
    width: 33.3333333333%; }

  .offset-sm-4 {
    margin-left: 33.3333333333%; }

  .col-sm-5 {
    width: 41.6666666667%; }

  .offset-sm-5 {
    margin-left: 41.6666666667%; }

  .col-sm-6 {
    width: 50%; }

  .offset-sm-6 {
    margin-left: 50%; }

  .col-sm-7 {
    width: 58.3333333333%; }

  .offset-sm-7 {
    margin-left: 58.3333333333%; }

  .col-sm-8 {
    width: 66.6666666667%; }

  .offset-sm-8 {
    margin-left: 66.6666666667%; }

  .col-sm-9 {
    width: 75%; }

  .offset-sm-9 {
    margin-left: 75%; }

  .col-sm-10 {
    width: 83.3333333333%; }

  .offset-sm-10 {
    margin-left: 83.3333333333%; }

  .col-sm-11 {
    width: 91.6666666667%; }

  .offset-sm-11 {
    margin-left: 91.6666666667%; }

  .col-sm-12 {
    width: 100%; }

  .offset-sm-12 {
    margin-left: 100%; }

  .p-sm-tl {
    padding-top: 20px; }

  .p-sm-rl {
    padding-right: 20px; }

  .p-sm-bl {
    padding-bottom: 20px; }

  .p-sm-ll {
    padding-left: 20px; }

  .p-sm-hl {
    padding-left: 20px;
    padding-right: 20px; }

  .p-sm-vl {
    padding-top: 20px;
    padding-bottom: 20px; }

  .p-sm-l {
    padding: 20px; }

  .p-sm-tm {
    padding-top: 10px; }

  .p-sm-rm {
    padding-right: 10px; }

  .p-sm-bm {
    padding-bottom: 10px; }

  .p-sm-lm {
    padding-left: 10px; }

  .p-sm-hm {
    padding-left: 10px;
    padding-right: 10px; }

  .p-sm-vm {
    padding-top: 10px;
    padding-bottom: 10px; }

  .p-sm-m {
    padding: 10px; }

  .p-sm-ts {
    padding-top: 5px; }

  .p-sm-rs {
    padding-right: 5px; }

  .p-sm-bs {
    padding-bottom: 5px; }

  .p-sm-ls {
    padding-left: 5px; }

  .p-sm-hs {
    padding-left: 5px;
    padding-right: 5px; }

  .p-sm-vs {
    padding-top: 5px;
    padding-bottom: 5px; }

  .p-sm-s {
    padding: 5px; }

  .p-sm-tn {
    padding-top: 0; }

  .p-sm-rn {
    padding-right: 0; }

  .p-sm-bn {
    padding-bottom: 0; }

  .p-sm-ln {
    padding-left: 0; }

  .p-sm-hn {
    padding-left: 0;
    padding-right: 0; }

  .p-sm-vn {
    padding-top: 0;
    padding-bottom: 0; }

  .p-sm-n {
    padding: 0; }

  .m-sm-tl {
    margin-top: 20px; }

  .m-sm-rl {
    margin-right: 20px; }

  .m-sm-bl {
    margin-bottom: 20px; }

  .m-sm-ll {
    margin-left: 20px; }

  .m-sm-hl {
    margin-left: 20px;
    margin-right: 20px; }

  .m-sm-vl {
    margin-top: 20px;
    margin-bottom: 20px; }

  .m-sm-l {
    margin: 20px; }

  .m-sm-tm {
    margin-top: 10px; }

  .m-sm-rm {
    margin-right: 10px; }

  .m-sm-bm {
    margin-bottom: 10px; }

  .m-sm-lm {
    margin-left: 10px; }

  .m-sm-hm {
    margin-left: 10px;
    margin-right: 10px; }

  .m-sm-vm {
    margin-top: 10px;
    margin-bottom: 10px; }

  .m-sm-m {
    margin: 10px; }

  .m-sm-ts {
    margin-top: 5px; }

  .m-sm-rs {
    margin-right: 5px; }

  .m-sm-bs {
    margin-bottom: 5px; }

  .m-sm-ls {
    margin-left: 5px; }

  .m-sm-hs {
    margin-left: 5px;
    margin-right: 5px; }

  .m-sm-vs {
    margin-top: 5px;
    margin-bottom: 5px; }

  .m-sm-s {
    margin: 5px; }

  .m-sm-tn {
    margin-top: 0; }

  .m-sm-rn {
    margin-right: 0; }

  .m-sm-bn {
    margin-bottom: 0; }

  .m-sm-ln {
    margin-left: 0; }

  .m-sm-hn {
    margin-left: 0;
    margin-right: 0; }

  .m-sm-vn {
    margin-top: 0;
    margin-bottom: 0; }

  .m-sm-n {
    margin: 0; }

  .pull-sm-left {
    float: left; }

  .pull-sm-right {
    float: right; }

  .pull-sm-none {
    float: none; }

  .pull-sm-clear {
    clear: both; }

  .pull-sm-center {
    margin-left: auto;
    margin-right: auto; }

  .align-sm-l {
    text-align: left; }

  .align-sm-c {
    text-align: center; }

  .align-sm-r {
    text-align: right; }

  .align-sm-j {
    text-align: justify; }

  .align-sm-t {
    vertical-align: top; }

  .align-sm-m {
    vertical-align: middle; }

  .align-sm-b {
    vertical-align: bottom; }

  .align-sm-bl {
    vertical-align: baseline; }

  .display-sm-b {
    display: block; }

  .display-sm-ib {
    display: inline-block; }

  .display-sm-f {
    display: flex; }

  .display-sm-n {
    display: none; }

  .position-sm-s {
    position: static; }

  .position-sm-r {
    position: relative; }

  .position-sm-a {
    position: absolute; }

  .position-sm-f {
    position: fixed; }

  .flex-sm-parent {
    display: flex;
    align-items: center; }

  .flex-sm-wrap {
    flex-wrap: wrap; }

  .flex-sm-nowrap {
    flex-wrap: nowrap; }

  .flex-sm-child {
    flex: 1 1 auto; }

  .flex-sm-none {
    flex: none; } }
/*---------------------------------------------------------------
md media minimum
-----------------------------------------------------------------*/
@media (min-width: 600px) {
  .container {
    margin-right: auto;
    margin-left: auto;
    max-width: auto; }

  .col-md-side {
    width: 180px; }

  .col-md-main {
    width: calc(100% - 180px); }

  .col-md-main2 {
    width: calc(100% - 360px); }

  .col-md-0 {
    width: 0%; }

  .offset-md-0 {
    margin-left: 0%; }

  .col-md-1 {
    width: 8.3333333333%; }

  .offset-md-1 {
    margin-left: 8.3333333333%; }

  .col-md-2 {
    width: 16.6666666667%; }

  .offset-md-2 {
    margin-left: 16.6666666667%; }

  .col-md-3 {
    width: 25%; }

  .offset-md-3 {
    margin-left: 25%; }

  .col-md-4 {
    width: 33.3333333333%; }

  .offset-md-4 {
    margin-left: 33.3333333333%; }

  .col-md-5 {
    width: 41.6666666667%; }

  .offset-md-5 {
    margin-left: 41.6666666667%; }

  .col-md-6 {
    width: 50%; }

  .offset-md-6 {
    margin-left: 50%; }

  .col-md-7 {
    width: 58.3333333333%; }

  .offset-md-7 {
    margin-left: 58.3333333333%; }

  .col-md-8 {
    width: 66.6666666667%; }

  .offset-md-8 {
    margin-left: 66.6666666667%; }

  .col-md-9 {
    width: 75%; }

  .offset-md-9 {
    margin-left: 75%; }

  .col-md-10 {
    width: 83.3333333333%; }

  .offset-md-10 {
    margin-left: 83.3333333333%; }

  .col-md-11 {
    width: 91.6666666667%; }

  .offset-md-11 {
    margin-left: 91.6666666667%; }

  .col-md-12 {
    width: 100%; }

  .offset-md-12 {
    margin-left: 100%; }

  .p-md-tl {
    padding-top: 20px; }

  .p-md-rl {
    padding-right: 20px; }

  .p-md-bl {
    padding-bottom: 20px; }

  .p-md-ll {
    padding-left: 20px; }

  .p-md-hl {
    padding-left: 20px;
    padding-right: 20px; }

  .p-md-vl {
    padding-top: 20px;
    padding-bottom: 20px; }

  .p-md-l {
    padding: 20px; }

  .p-md-tm {
    padding-top: 10px; }

  .p-md-rm {
    padding-right: 10px; }

  .p-md-bm {
    padding-bottom: 10px; }

  .p-md-lm {
    padding-left: 10px; }

  .p-md-hm {
    padding-left: 10px;
    padding-right: 10px; }

  .p-md-vm {
    padding-top: 10px;
    padding-bottom: 10px; }

  .p-md-m {
    padding: 10px; }

  .p-md-ts {
    padding-top: 5px; }

  .p-md-rs {
    padding-right: 5px; }

  .p-md-bs {
    padding-bottom: 5px; }

  .p-md-ls {
    padding-left: 5px; }

  .p-md-hs {
    padding-left: 5px;
    padding-right: 5px; }

  .p-md-vs {
    padding-top: 5px;
    padding-bottom: 5px; }

  .p-md-s {
    padding: 5px; }

  .p-md-tn {
    padding-top: 0; }

  .p-md-rn {
    padding-right: 0; }

  .p-md-bn {
    padding-bottom: 0; }

  .p-md-ln {
    padding-left: 0; }

  .p-md-hn {
    padding-left: 0;
    padding-right: 0; }

  .p-md-vn {
    padding-top: 0;
    padding-bottom: 0; }

  .p-md-n {
    padding: 0; }

  .m-md-tl {
    margin-top: 20px; }

  .m-md-rl {
    margin-right: 20px; }

  .m-md-bl {
    margin-bottom: 20px; }

  .m-md-ll {
    margin-left: 20px; }

  .m-md-hl {
    margin-left: 20px;
    margin-right: 20px; }

  .m-md-vl {
    margin-top: 20px;
    margin-bottom: 20px; }

  .m-md-l {
    margin: 20px; }

  .m-md-tm {
    margin-top: 10px; }

  .m-md-rm {
    margin-right: 10px; }

  .m-md-bm {
    margin-bottom: 10px; }

  .m-md-lm {
    margin-left: 10px; }

  .m-md-hm {
    margin-left: 10px;
    margin-right: 10px; }

  .m-md-vm {
    margin-top: 10px;
    margin-bottom: 10px; }

  .m-md-m {
    margin: 10px; }

  .m-md-ts {
    margin-top: 5px; }

  .m-md-rs {
    margin-right: 5px; }

  .m-md-bs {
    margin-bottom: 5px; }

  .m-md-ls {
    margin-left: 5px; }

  .m-md-hs {
    margin-left: 5px;
    margin-right: 5px; }

  .m-md-vs {
    margin-top: 5px;
    margin-bottom: 5px; }

  .m-md-s {
    margin: 5px; }

  .m-md-tn {
    margin-top: 0; }

  .m-md-rn {
    margin-right: 0; }

  .m-md-bn {
    margin-bottom: 0; }

  .m-md-ln {
    margin-left: 0; }

  .m-md-hn {
    margin-left: 0;
    margin-right: 0; }

  .m-md-vn {
    margin-top: 0;
    margin-bottom: 0; }

  .m-md-n {
    margin: 0; }

  .pull-md-left {
    float: left; }

  .pull-md-right {
    float: right; }

  .pull-md-none {
    float: none; }

  .pull-md-clear {
    clear: both; }

  .pull-md-center {
    margin-left: auto;
    margin-right: auto; }

  .align-md-l {
    text-align: left; }

  .align-md-c {
    text-align: center; }

  .align-md-r {
    text-align: right; }

  .align-md-j {
    text-align: justify; }

  .align-md-t {
    vertical-align: top; }

  .align-md-m {
    vertical-align: middle; }

  .align-md-b {
    vertical-align: bottom; }

  .align-md-bl {
    vertical-align: baseline; }

  .display-md-b {
    display: block; }

  .display-md-ib {
    display: inline-block; }

  .display-md-f {
    display: flex; }

  .display-md-n {
    display: none; }

  .position-md-s {
    position: static; }

  .position-md-r {
    position: relative; }

  .position-md-a {
    position: absolute; }

  .position-md-f {
    position: fixed; }

  .flex-md-parent {
    display: flex;
    align-items: center; }

  .flex-md-wrap {
    flex-wrap: wrap; }

  .flex-md-nowrap {
    flex-wrap: nowrap; }

  .flex-md-child {
    flex: 1 1 auto; }

  .flex-md-none {
    flex: none; } }
/*---------------------------------------------------------------
lg media minimum
-----------------------------------------------------------------*/
@media (min-width: 960px) {
  .container {
    margin-right: auto;
    margin-left: auto;
    max-width: 960px; }

  .col-lg-side {
    width: 180px; }

  .col-lg-main {
    width: calc(100% - 180px); }

  .col-lg-main2 {
    width: calc(100% - 360px); }

  .col-lg-0 {
    width: 0%; }

  .offset-lg-0 {
    margin-left: 0%; }

  .col-lg-1 {
    width: 8.3333333333%; }

  .offset-lg-1 {
    margin-left: 8.3333333333%; }

  .col-lg-2 {
    width: 16.6666666667%; }

  .offset-lg-2 {
    margin-left: 16.6666666667%; }

  .col-lg-3 {
    width: 25%; }

  .offset-lg-3 {
    margin-left: 25%; }

  .col-lg-4 {
    width: 33.3333333333%; }

  .offset-lg-4 {
    margin-left: 33.3333333333%; }

  .col-lg-5 {
    width: 41.6666666667%; }

  .offset-lg-5 {
    margin-left: 41.6666666667%; }

  .col-lg-6 {
    width: 50%; }

  .offset-lg-6 {
    margin-left: 50%; }

  .col-lg-7 {
    width: 58.3333333333%; }

  .offset-lg-7 {
    margin-left: 58.3333333333%; }

  .col-lg-8 {
    width: 66.6666666667%; }

  .offset-lg-8 {
    margin-left: 66.6666666667%; }

  .col-lg-9 {
    width: 75%; }

  .offset-lg-9 {
    margin-left: 75%; }

  .col-lg-10 {
    width: 83.3333333333%; }

  .offset-lg-10 {
    margin-left: 83.3333333333%; }

  .col-lg-11 {
    width: 91.6666666667%; }

  .offset-lg-11 {
    margin-left: 91.6666666667%; }

  .col-lg-12 {
    width: 100%; }

  .offset-lg-12 {
    margin-left: 100%; }

  .p-lg-tl {
    padding-top: 20px; }

  .p-lg-rl {
    padding-right: 20px; }

  .p-lg-bl {
    padding-bottom: 20px; }

  .p-lg-ll {
    padding-left: 20px; }

  .p-lg-hl {
    padding-left: 20px;
    padding-right: 20px; }

  .p-lg-vl {
    padding-top: 20px;
    padding-bottom: 20px; }

  .p-lg-l {
    padding: 20px; }

  .p-lg-tm {
    padding-top: 10px; }

  .p-lg-rm {
    padding-right: 10px; }

  .p-lg-bm {
    padding-bottom: 10px; }

  .p-lg-lm {
    padding-left: 10px; }

  .p-lg-hm {
    padding-left: 10px;
    padding-right: 10px; }

  .p-lg-vm {
    padding-top: 10px;
    padding-bottom: 10px; }

  .p-lg-m {
    padding: 10px; }

  .p-lg-ts {
    padding-top: 5px; }

  .p-lg-rs {
    padding-right: 5px; }

  .p-lg-bs {
    padding-bottom: 5px; }

  .p-lg-ls {
    padding-left: 5px; }

  .p-lg-hs {
    padding-left: 5px;
    padding-right: 5px; }

  .p-lg-vs {
    padding-top: 5px;
    padding-bottom: 5px; }

  .p-lg-s {
    padding: 5px; }

  .p-lg-tn {
    padding-top: 0; }

  .p-lg-rn {
    padding-right: 0; }

  .p-lg-bn {
    padding-bottom: 0; }

  .p-lg-ln {
    padding-left: 0; }

  .p-lg-hn {
    padding-left: 0;
    padding-right: 0; }

  .p-lg-vn {
    padding-top: 0;
    padding-bottom: 0; }

  .p-lg-n {
    padding: 0; }

  .m-lg-tl {
    margin-top: 20px; }

  .m-lg-rl {
    margin-right: 20px; }

  .m-lg-bl {
    margin-bottom: 20px; }

  .m-lg-ll {
    margin-left: 20px; }

  .m-lg-hl {
    margin-left: 20px;
    margin-right: 20px; }

  .m-lg-vl {
    margin-top: 20px;
    margin-bottom: 20px; }

  .m-lg-l {
    margin: 20px; }

  .m-lg-tm {
    margin-top: 10px; }

  .m-lg-rm {
    margin-right: 10px; }

  .m-lg-bm {
    margin-bottom: 10px; }

  .m-lg-lm {
    margin-left: 10px; }

  .m-lg-hm {
    margin-left: 10px;
    margin-right: 10px; }

  .m-lg-vm {
    margin-top: 10px;
    margin-bottom: 10px; }

  .m-lg-m {
    margin: 10px; }

  .m-lg-ts {
    margin-top: 5px; }

  .m-lg-rs {
    margin-right: 5px; }

  .m-lg-bs {
    margin-bottom: 5px; }

  .m-lg-ls {
    margin-left: 5px; }

  .m-lg-hs {
    margin-left: 5px;
    margin-right: 5px; }

  .m-lg-vs {
    margin-top: 5px;
    margin-bottom: 5px; }

  .m-lg-s {
    margin: 5px; }

  .m-lg-tn {
    margin-top: 0; }

  .m-lg-rn {
    margin-right: 0; }

  .m-lg-bn {
    margin-bottom: 0; }

  .m-lg-ln {
    margin-left: 0; }

  .m-lg-hn {
    margin-left: 0;
    margin-right: 0; }

  .m-lg-vn {
    margin-top: 0;
    margin-bottom: 0; }

  .m-lg-n {
    margin: 0; }

  .pull-lg-left {
    float: left; }

  .pull-lg-right {
    float: right; }

  .pull-lg-none {
    float: none; }

  .pull-lg-clear {
    clear: both; }

  .pull-lg-center {
    margin-left: auto;
    margin-right: auto; }

  .align-lg-l {
    text-align: left; }

  .align-lg-c {
    text-align: center; }

  .align-lg-r {
    text-align: right; }

  .align-lg-j {
    text-align: justify; }

  .align-lg-t {
    vertical-align: top; }

  .align-lg-m {
    vertical-align: middle; }

  .align-lg-b {
    vertical-align: bottom; }

  .align-lg-bl {
    vertical-align: baseline; }

  .display-lg-b {
    display: block; }

  .display-lg-ib {
    display: inline-block; }

  .display-lg-f {
    display: flex; }

  .display-lg-n {
    display: none; }

  .position-lg-s {
    position: static; }

  .position-lg-r {
    position: relative; }

  .position-lg-a {
    position: absolute; }

  .position-lg-f {
    position: fixed; }

  .flex-lg-parent {
    display: flex;
    align-items: center; }

  .flex-lg-wrap {
    flex-wrap: wrap; }

  .flex-lg-nowrap {
    flex-wrap: nowrap; }

  .flex-lg-child {
    flex: 1 1 auto; }

  .flex-lg-none {
    flex: none; } }
/*---------------------------------------------------------------
xl media minimum
-----------------------------------------------------------------*/
@media (min-width: 1200px) {
  .container {
    margin-right: auto;
    margin-left: auto;
    max-width: 1200px; }

  .col-xl-side {
    width: 180px; }

  .col-xl-main {
    width: calc(100% - 180px); }

  .col-xl-main2 {
    width: calc(100% - 360px); }

  .col-xl-0 {
    width: 0%; }

  .offset-xl-0 {
    margin-left: 0%; }

  .col-xl-1 {
    width: 8.3333333333%; }

  .offset-xl-1 {
    margin-left: 8.3333333333%; }

  .col-xl-2 {
    width: 16.6666666667%; }

  .offset-xl-2 {
    margin-left: 16.6666666667%; }

  .col-xl-3 {
    width: 25%; }

  .offset-xl-3 {
    margin-left: 25%; }

  .col-xl-4 {
    width: 33.3333333333%; }

  .offset-xl-4 {
    margin-left: 33.3333333333%; }

  .col-xl-5 {
    width: 41.6666666667%; }

  .offset-xl-5 {
    margin-left: 41.6666666667%; }

  .col-xl-6 {
    width: 50%; }

  .offset-xl-6 {
    margin-left: 50%; }

  .col-xl-7 {
    width: 58.3333333333%; }

  .offset-xl-7 {
    margin-left: 58.3333333333%; }

  .col-xl-8 {
    width: 66.6666666667%; }

  .offset-xl-8 {
    margin-left: 66.6666666667%; }

  .col-xl-9 {
    width: 75%; }

  .offset-xl-9 {
    margin-left: 75%; }

  .col-xl-10 {
    width: 83.3333333333%; }

  .offset-xl-10 {
    margin-left: 83.3333333333%; }

  .col-xl-11 {
    width: 91.6666666667%; }

  .offset-xl-11 {
    margin-left: 91.6666666667%; }

  .col-xl-12 {
    width: 100%; }

  .offset-xl-12 {
    margin-left: 100%; }

  .p-xl-tl {
    padding-top: 20px; }

  .p-xl-rl {
    padding-right: 20px; }

  .p-xl-bl {
    padding-bottom: 20px; }

  .p-xl-ll {
    padding-left: 20px; }

  .p-xl-hl {
    padding-left: 20px;
    padding-right: 20px; }

  .p-xl-vl {
    padding-top: 20px;
    padding-bottom: 20px; }

  .p-xl-l {
    padding: 20px; }

  .p-xl-tm {
    padding-top: 10px; }

  .p-xl-rm {
    padding-right: 10px; }

  .p-xl-bm {
    padding-bottom: 10px; }

  .p-xl-lm {
    padding-left: 10px; }

  .p-xl-hm {
    padding-left: 10px;
    padding-right: 10px; }

  .p-xl-vm {
    padding-top: 10px;
    padding-bottom: 10px; }

  .p-xl-m {
    padding: 10px; }

  .p-xl-ts {
    padding-top: 5px; }

  .p-xl-rs {
    padding-right: 5px; }

  .p-xl-bs {
    padding-bottom: 5px; }

  .p-xl-ls {
    padding-left: 5px; }

  .p-xl-hs {
    padding-left: 5px;
    padding-right: 5px; }

  .p-xl-vs {
    padding-top: 5px;
    padding-bottom: 5px; }

  .p-xl-s {
    padding: 5px; }

  .p-xl-tn {
    padding-top: 0; }

  .p-xl-rn {
    padding-right: 0; }

  .p-xl-bn {
    padding-bottom: 0; }

  .p-xl-ln {
    padding-left: 0; }

  .p-xl-hn {
    padding-left: 0;
    padding-right: 0; }

  .p-xl-vn {
    padding-top: 0;
    padding-bottom: 0; }

  .p-xl-n {
    padding: 0; }

  .m-xl-tl {
    margin-top: 20px; }

  .m-xl-rl {
    margin-right: 20px; }

  .m-xl-bl {
    margin-bottom: 20px; }

  .m-xl-ll {
    margin-left: 20px; }

  .m-xl-hl {
    margin-left: 20px;
    margin-right: 20px; }

  .m-xl-vl {
    margin-top: 20px;
    margin-bottom: 20px; }

  .m-xl-l {
    margin: 20px; }

  .m-xl-tm {
    margin-top: 10px; }

  .m-xl-rm {
    margin-right: 10px; }

  .m-xl-bm {
    margin-bottom: 10px; }

  .m-xl-lm {
    margin-left: 10px; }

  .m-xl-hm {
    margin-left: 10px;
    margin-right: 10px; }

  .m-xl-vm {
    margin-top: 10px;
    margin-bottom: 10px; }

  .m-xl-m {
    margin: 10px; }

  .m-xl-ts {
    margin-top: 5px; }

  .m-xl-rs {
    margin-right: 5px; }

  .m-xl-bs {
    margin-bottom: 5px; }

  .m-xl-ls {
    margin-left: 5px; }

  .m-xl-hs {
    margin-left: 5px;
    margin-right: 5px; }

  .m-xl-vs {
    margin-top: 5px;
    margin-bottom: 5px; }

  .m-xl-s {
    margin: 5px; }

  .m-xl-tn {
    margin-top: 0; }

  .m-xl-rn {
    margin-right: 0; }

  .m-xl-bn {
    margin-bottom: 0; }

  .m-xl-ln {
    margin-left: 0; }

  .m-xl-hn {
    margin-left: 0;
    margin-right: 0; }

  .m-xl-vn {
    margin-top: 0;
    margin-bottom: 0; }

  .m-xl-n {
    margin: 0; }

  .pull-xl-left {
    float: left; }

  .pull-xl-right {
    float: right; }

  .pull-xl-none {
    float: none; }

  .pull-xl-clear {
    clear: both; }

  .pull-xl-center {
    margin-left: auto;
    margin-right: auto; }

  .align-xl-l {
    text-align: left; }

  .align-xl-c {
    text-align: center; }

  .align-xl-r {
    text-align: right; }

  .align-xl-j {
    text-align: justify; }

  .align-xl-t {
    vertical-align: top; }

  .align-xl-m {
    vertical-align: middle; }

  .align-xl-b {
    vertical-align: bottom; }

  .align-xl-bl {
    vertical-align: baseline; }

  .display-xl-b {
    display: block; }

  .display-xl-ib {
    display: inline-block; }

  .display-xl-f {
    display: flex; }

  .display-xl-n {
    display: none; }

  .position-xl-s {
    position: static; }

  .position-xl-r {
    position: relative; }

  .position-xl-a {
    position: absolute; }

  .position-xl-f {
    position: fixed; }

  .flex-xl-parent {
    display: flex;
    align-items: center; }

  .flex-xl-wrap {
    flex-wrap: wrap; }

  .flex-xl-nowrap {
    flex-wrap: nowrap; }

  .flex-xl-child {
    flex: 1 1 auto; }

  .flex-xl-none {
    flex: none; } }
* {
  box-sizing: border-box; }

html, body {
  margin: 0;
  overflow: hidden;
  font-family: helvetica,arial,sans-serif;
  font-size: 100%; }

h1, h2, h3, h4, h5, h6 {
  font-family: georgia,serif; }

dt {
  margin-top: .5em;
  font-weight: bold; }

dd {
  margin: 10px; }

p {
  line-height: 1.2em; }

a {
  color: blue;
  text-decoration: none; }
  a:hover {
    text-decoration: underline; }

code {
  display: block;
  white-space: pre;
  padding: 10px;
  background-color: #efe;
  border-radius: 4px; }

[data-role='page'] {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; }

[data-role='header'],
[data-role='footer'] {
  height: 3rem;
  background-color: #eee; }
  [data-role='header'] ul,
  [data-role='footer'] ul {
    list-style-type: none;
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0; }
  [data-role='header'] a,
  [data-role='footer'] a {
    line-height: 3rem;
    text-align: center;
    padding: 0 1em;
    font-size: 0.8em;
    color: inherit;
    text-decoration: none;
    font-weight: bold;
    display: block; }
    [data-role='header'] a .btn-icon,
    [data-role='footer'] a .btn-icon {
      width: 1em;
      height: 1em;
      display: block;
      font-size: 2em;
      line-height: 2rem;
      vertical-align: middle;
      font-style: normal; }
    [data-role='header'] a .btn-description,
    [data-role='footer'] a .btn-description {
      display: block;
      line-height: 1rem;
      font-size: 0.75em; }
    [data-role='header'] a.active, [data-role='header'] a:hover,
    [data-role='footer'] a.active,
    [data-role='footer'] a:hover {
      background-color: white; }

[data-role='header'] {
  position: relative; }
  [data-role='header'] h1 {
    line-height: 3rem;
    position: absolute;
    width: 100%;
    text-align: center;
    font-weight: bold;
    margin: 0;
    font-size: 1.15rem;
    z-index: 1; }
  [data-role='header'] ul {
    position: relative;
    z-index: 2;
    display: flex;
    align-items: center; }
  [data-role='header'] li {
    flex: none; }
  [data-role='header'] li:empty {
    flex: 1 1 auto; }

[data-role='footer'] {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%; }
  [data-role='footer'] ul {
    display: flex;
    align-items: center; }
  [data-role='footer'] li {
    flex: 1 1 auto; }

[data-role='main'] {
  height: 100%;
  overflow: auto; }

[data-role='header']:first-child + [data-role='main'],
[data-role='footer']:first-child + [data-role='main'] {
  height: calc(100% - 3rem); }

[data-role='header'] +
[data-role='footer'] +
[data-role='main'] {
  height: calc(100% - 6rem); }

.container {
  max-width: 1000px;
  margin-right: auto;
  margin-left: auto; }

.btn {
  display: inline-block;
  box-shadow: 0 0 0 transparent;
  height: 2em;
  font-size: inherit;
  font-family: inherit;
  background-color: #ddd;
  line-height: 2em;
  padding: 0 0.5em;
  margin: 0;
  color: inherit;
  border-radius: 4px;
  border-width: 0;
  vertical-align: baseline;
  text-decoration: none;
  cursor: pointer;
  outline: 0; }
  .btn:hover, .btn:active {
    background-color: #efefef;
    color: inherit; }

a.btn {
  text-decoration: none; }
  a.btn:hover {
    dext-decoration: none; }

.compact {
  list-style-type: none;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0; }

.flex-parent {
  display: flex;
  align-items: center; }

.flex-child {
  flex: 1 1 auto; }

.flex-none {
  flex: none; }

.space-window, .modal, .drawer {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  pointer-events: none;
  opacity: 0;
  transition: opacity 0.3s;
  z-index: 5; }
  .space-window.active, .active.modal, .active.drawer {
    opacity: 1;
    pointer-events: initial; }

.back-cover {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7); }

.modal-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, calc(-50% + 4em));
  width: 100%;
  max-width: calc(100% - 20px);
  max-height: calc(100% - 20px);
  transition: all 0.3s; }
  .modal.active .modal-content {
    transform: translate(-50%, -50%); }
.modal-head {
  border-radius: 0.5em 0.5em 0 0;
  background-color: #eee;
  line-height: 3rem;
  text-align: center;
  font-weight: bold;
  margin: 0;
  font-size: 1.2em; }
.modal-body {
  border-radius: 0 0 0.5em 0.5em;
  background-color: #fff;
  overflow: auto;
  padding: 10px; }

.drawer-content-left, .drawer-content-right, .drawer-content-top, .drawer-content-bottom, .drawer-content {
  position: absolute;
  transition: all 0.3s; }
.drawer-content-left {
  top: 0;
  left: 0;
  height: 100%;
  transform: translateX(-100%); }
  .drawer.active .drawer-content-left {
    transform: translateX(0); }
.drawer-content-right {
  top: 0;
  right: 0;
  height: 100%;
  transform: translateX(100%); }
  .drawer.active .drawer-content-right {
    transform: translateX(0); }
.drawer-content-top {
  top: 0;
  left: 0;
  width: 100%;
  transform: translateY(-100%); }
  .drawer.active .drawer-content-top {
    transform: translateY(0); }
.drawer-content-bottom {
  bottom: 0;
  left: 0;
  width: 100%;
  transform: translateY(100%); }
  .drawer.active .drawer-content-bottom {
    transform: translateY(0); }
.drawer-head {
  background-color: #eee;
  line-height: 3rem;
  text-align: center;
  font-weight: bold;
  margin: 0;
  font-size: 1.2em; }
.drawer-body {
  height: calc(100% - 3rem);
  background-color: #fff;
  overflow: auto;
  padding: 10px; }

.table {
  width: 100%;
  border-collapse: collapse; }

.table th,
.table td {
  text-align: left;
  padding: 0.2em 0.5em;
  vertical-align: top; }

.table.striped tbody tr:nth-child(odd) {
  background-color: rgba(0, 0, 0, 0.1); }

.table.lined tbody tr,
.table.lined-horizontal tbody tr {
  border-top: 1px dotted #ccc; }

.table.lined td:not(:first-child),
.table.lined th:not(:first-child),
.table.lined-vertical td:not(:first-child),
.table.lined-vertical th:not(:first-child) {
  border-left: 1px dotted #ccc; }

.table.lined,
.table.lined-outline {
  border: 1px solid black; }

.table tr:hover th,
.table tr:hover td {
  background-color: rgba(0, 0, 255, 0.1); }

@media screen and (max-width: 800px) {
  [data-role='main'] h2,
  [data-role='main'] p {
    padding-left: 10px;
    padding-right: 10px; } }

/*# sourceMappingURL=proto.css.map */
