
.grid {
  display:grid;
  grid-template-columns: repeat(nth($grids,1), 1fr);

  &.decimal {
    grid-template-columns: repeat(nth($grids,2), 1fr);
  }
  &.gap {
    --gap-size:#{map-get($sizes,'s')};
    grid-gap:var(--gap-size);
  }
}


@mixin makeGridGrid($breakpoint:'',$columns:12) {
  .offset#{$breakpoint}-0 { grid-column-start: 1; }
  @for $i from 1 through $columns {
    .col#{$breakpoint}-#{$i} { grid-column-end:span #{$i}; }
    .offset#{$breakpoint}-#{$i} { grid-column-start: #{$i + 1}; }
  }
  @each $i, $v in $sizes {
    .gap.gap#{$breakpoint}-#{$i} { --gap-size:#{$v}; }
  }
}
