
<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width" />
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="apple-mobile-web-app-status-bar-style" content="white">

	<title>Prototyping</title>

	<script src="jquery-3.3.1.min.js"></script>
	<script src="../../search.js"></script>
	<script src="../proto.min.js"></script>
	<script src="proto_example.js"></script>

	<link rel="stylesheet" href="../proto_theme.min.css">


</head>
<body>




	<section data-role="page" id="page-home">
		<header data-role="header" data-template="#header-title-template" data-title="ProtoTyping"></header>
		<footer data-role="footer" data-template="#footer-nav-template"></footer>
		<div data-role="main">
			<h2>Proto</h2>
			<p><a href="http://github.com/bronkula/apptools">AppTools on Github.</a></p>
			<p>This is the first section of a prototyping tool that allows a person to leverage their knowledge of html and css, without needing extensive knowledge of javascript (or any at all) to create a mostly working prototype of a website or app. The goal is not to allow the complete creation of a working application (although it certainly could be done) but to provide a basis for production that can more easily be transitioned into actual development than most current offerings.</p>
			<p>The problem with most current prototyping implementations is that they often take a good amount of design work that must all be completely redone once actual programming work is put forward. With HamProto a working viable prototype can be provided to a development team and a lot of css and html will have already been created, greatly reducing the transition period between prototype and bootstrapping.</p>
			<p>
				<a class="btn" data-role="jump" href="#page-jumps">Jumps</a>
			</p>
		</div>
	</section>




	<section data-role="page" id="page-jumps">
		<header data-role="header" data-template="#header-title-template" data-title="Jumps"></header>
		<footer data-role="footer" data-template="#footer-nav-template"></footer>
		<div data-role="main">
			<header><h2>Proto Jumps</h2></header>
			<p>Proto uses sections to define different app "pages". Each section of a Proto app has its own unique id, and so linking to any of them is as easy as making a jump link to it. These can be any type of element, as long as it has a data-role="jump" hook, and an href attribute that links to an #id.</p>
			<p>The anchor below works using the jump, even though it looks like a button. Using your own styles will help you design things however you want them to look, but anything can have a .proto-jump added to it, <span data-role="jump" href="#page-home">even this phrase (click me).</span></p>
			<p>
				<a class="btn" data-role="jump" href="#page-activate">Activations</a>
			</p>
			<p>
				Speaking of Pages, modern mobile browsers are really messing with us mobile developers. Apple is covering space left and right. Android is playing catchup with design problems that don't exist. One of these things is a direct assault on mobile web app developers. Both google Chrome and iOS Safari now treat vh values as something other than actual viewheight. How can you deal with it?
			</p>
			<p>
				Well this demo deals with it in a couple ways. All of the data-role="page" elements have been given a position:fixed, and a height:100%. Normally height 100% doesn't work on elements that don't have a parent with height. But it turns out fixed position elements are pulled out of flow and now take on the percentage height of the literal view. This allows all the child elements to use percentages and they are the visible view.
			</p>
			<p>
				On a secondary note, in order to stop the drag refreshing of pages, the overflow-y of the html,body is being set to hidden. Since the pages are all set to fixed and 100% anyways, having the html,body handled this way isn't a problem, and for some reason stop browser drag refreshing, which can be very annoying once an app has been added to home screen.
			</p>
		</div>
	</section>





	<section data-role="page" id="page-activate">
		<header data-role="header" data-template="#header-title-template" data-title="Activation"></header>
		<footer data-role="footer" data-template="#footer-nav-template"></footer>
		<div data-role="main">
			<div class="container">
				<style>.glows.active { box-shadow:0 0 5px 5px rgba(0,255,255,0.5) }</style>
				<h2>Activate</h2>
				<p>
					I tried a lot of options for dynamic interactive content that just started ballooning out of control. But I finally settled on the simple javascript of adding, removing, and toggling an "active" class on elements and allowing a designer to do whatever they want to do with that. Ultimately, this library is supposed to be as unobtrusive as possible, and this seems like the best solution. So how does one use this?
				</p>
				<p>
					Using the activate functions is as easy as using the [data-activate] attribute. For instance:
				</p>
				<p>
					<button class="btn" data-activate="next">Click this</button>
					<span class="glows">This activates</span>
				</p>
				<p>
					That's the core of the idea. This can be used all over your app, and simply have css do something to an element when the "active" class is present. You design the css, Proto provides the classes.  There are a number of options. [data-activate], [data-deactivate], and [data-toggle]. Each of these can be passed any selector to activate that element. There are also a couple of helper values available. "next", "prev", and "parent" will all activate relative elements.
				</p>
				<p>
					<span class="glows">This toggles</span>
					<button class="btn" data-toggle="prev">Click this</button>
				</p>
				<p>
					<button class="btn" data-activate="#page-activate .modal">Open Modal</button>
					<button class="btn" data-activate="#page-activate .drawer">Open Drawer</button>
				</p>
			</div>
		</div>
		<div class="modal">
			<div class="back-cover" data-deactivate="parent"></div>
			<div class="modal-content">
				<h2 class="modal-head">A Modal</h2>
				<div class="modal-body">
					<p>This modal can be designed the normal way, and then activated by any element on the page, then deactivated in any number of ways. The button below will deactivate the modal, but so will the gray space around it.</p>
					<div style="text-align:center">
						<button class="btn" data-deactivate="#page-activate .modal">Close</button>
					</div>
				</div>
			</div>
		</div>
		<div class="drawer">
			<div class="back-cover" data-deactivate="parent"></div>
			<div class="drawer-content-left" style="width:80%">
				<h2 class="drawer-head">A Side Menu</h2>
				<div class="drawer-body">
					<p>This is nearly the same thing as a modal. This side drawer can be activated and deactivated in the exact same innumerable ways.</p>
					<div>
						<button class="btn" data-deactivate="#page-activate .drawer">Close</button>
					</div>
				</div>
			</div>
		</div>
	</section>





	<section data-role="page" id="page-templates">
		<header data-role="header" data-role="header">
			<h1>Templates</h1>
			<ul>
				<li></li>
				<li><a data-role="jump" href="#page-home">
					<i class="btn-icon">&#x2302;</i>
					<span class="btn-description">Home</span>
				</a></li>
			</ul>
		</header>
		<footer data-role="footer" data-template="#footer-nav-template"></footer>
		<div data-role="main">
			<h2>The Original Mold</h2>
			<p>
				If you're a designer, you know that having to change 15 of the same thing is truly annoying. Proto comes with a simple tool to duplicate html content on the page, in the form of text templates.
			</p>
			<p>
				Create an element with an ID and some inner content that you want to only structure once. Then make an element somewhere on your document that references the same element with a data-template attribute. something like: 
			</p>
			<code>&lt;div data-template="design">&lt;/div>
&lt;div id="design">This will be placed there&lt;/div></code>
		</div>
	</section>




	<section data-role="page" id="page-show">
		<header data-role="header" data-template="#header-title-template" data-title="Dynamic Content"></header>
		<footer data-role="footer" data-template="#footer-nav-template"></footer>
		<div data-role="main" style="padding-bottom:10px">
			<header class="container"><h2>This is a dynamic list</h2></header>
			<p>
				Custom and dynamic code will need to make use of the "pageshow" event attached to the document. This event will allow any arbitrary code to be run whenever any page is loaded into view.
			</p>
			<p class="container">
				This list is being created from a json file being loaded into the document. Proto is capable enough to work with custom code. Because it is unopinionated, it won't get in the way of your code, but it also only has limited tools to help you along.
			</p>
			<div class="userlist"></div>
		</div>
	</section>




	<section data-role="page" id="page-user">
		<header data-role="header" data-template="#header-titleback-template" data-title="User Page"></header>
		<div data-role="main" class="body"></div>
	</section>










<!-- HTML Templates -->


	<script type="text/template" id="header-title-template">
		<h1><%= title %></h1>
	</script>

	<script type="text/template" id="header-titleback-template">
		<h1><%= title %></h1>
		<ul>
			<li><a href="#back" data-role="jump">Back</a></li>
		</ul>
	</script>



	<script type="text/template" id="footer-nav-template">
		<ul>
			<li><a data-role="jump" href="#page-home">1</a></li>
			<li><a data-role="jump" href="#page-jumps">2</a></li>
			<li><a data-role="jump" href="#page-activate">3</a></li>
			<li><a data-role="jump" href="#page-templates">4</a></li>
			<li><a data-role="jump" href="#page-show">5</a></li>
		</ul>
	</script>



	<script type="text/template" id="userlist-template">
	<div class="user flex-parent">
		<div class="flex-child user-name"><%= name.first %> <%= name.last %></div>
		<div class="flex-none btn user-visit" data-role="jump" href="#page-user" data-id="<%= id %>">&gt;</div>
	</div>
	</script>

	<script type="text/template" id="user-template">
	<div class="user">
		<div class="user-img"><img src="<%= img %>"></div>
		<div class="container user-info">
			<div class="user-name"><%= name.first %></div>
			<table class="table lined-horizontal">
				<tr>
					<td><strong class="flex-none">Email: </strong></td>
					<td><%= email %></td>
				</tr>
				<tr>
					<td><strong class="flex-none">Phone: </strong></td>
					<td><%= phone %></td>
				</tr>
				<tr>
					<td><strong class="flex-none">Address: </strong></td>
					<td><%= address %></td>
				</tr>
			</table>
		</div>
	</div>
	</script>

</body>





<style>
.userlist {
	border-top: 1px solid black;
	border-bottom: 1px solid black;
}
.userlist .user {
	padding:0.1em 0.5em;
}
.userlist .user:not(:first-child) {
	border-top: 1px solid black;
}
.user-img {
    background-color: #eef;
    text-align: Center;
    padding: 2em 0;
}
.user-img img {
    height: 20vh;
    border-radius: 50%;
    border: 4px solid white;
    box-shadow: 2px 2px 8px 2px rgba(0,0,255,0.2);
}
.user-info {
	padding:10px;
}
.user-info .user-name {
	font-size:2em;
}
</style>
</html>
